.no-header {
  margin-top: 100px;
}

hr {
  max-width: 25%;
}

input, textarea {
  display: block;
}

.contact-info {
  padding: 50px 0;
}

.logos {
  text-align: center;
}

.career {
  text-align: center;
}

.process ul li {
  color: #666;
}

.process ul li:before {
    content: "- ";
    color: #ee3643; /* or whatever color you prefer */
}

.contact-info h5 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  position: relative;
  margin-bottom: 25px;
}

.contact-info h5:after {
  content: '';
  width: 50px;
  height: 1px;
  background: #ee3643;
  position: absolute;
  left: 0;
  bottom: -22px;
}

.contact-form {
  padding: 0 0 50px 0;
}

.text-center {
  text-align: center;
}

.office-parallax {
  height: 450px;
  width: 100%;
  float: left;
  background: url('/images/space-desk-workspace-coworking.jpg') center / cover no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .navigation.show-me {
    z-index: 999999999;
  }
  
  img {
    max-width: 90%;
    margin: 0 auto;
  }

  .office-parallax {
    background-attachment: scroll;
  }
}
