<main class="news">
  <div class="container">
      <input type="text" placeholder="Search..." value="{{searchQuery}}" id="searchbar">
      <button id="searchButton">Search</button>
      <div class="row padded">
      {{#each pageContent.results}}
      <div class="news-item wow fadeInUp">
        {{text this 'adminitem.title'}}
        <p class="date">
          {{dateFormat firstPublicationDate}}
        </p>
        <a class="button" href="/admin/{{uid}}">View</a>
      </div>
      {{/each}}
      <p id="load-more-articles" class="link larger">Load More +</p>
    </div>
  </div>
</main>
