<main class="news-item">
  <div class="container">
    <div class="padded">
      <a href="/admin"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
      <h2 class="wow fadeInDown">{{text pageContent 'adminitem.title'}}</h2>
      <p class="date">
        {{dateFormat pageContent.firstPublicationDate}}
      </p>
      <div class="wow fadeInUp">
        {{structuredText pageContent 'adminitem.content' ctx}}
        {{#if pageContent.data.[adminitem.file]}}
        <a href="{{pageContent.data.[adminitem.file].value.file.url}}" target="_blank" class="button">View</a>
        {{/if}}
      </div>
    </div>
  </div>
</main>
