<main class="news-item">
  <div class="container">
    <div class="padded">
      <a href="/admin"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
      <h2 class="wow fadeInDown">{{text pageContent 'adminitem.title'}}</h2>
      <p class="date">
        {{dateFormat pageContent.firstPublicationDate}}
      </p>
      <div class="wow fadeInUp">
        {{structuredText pageContent 'adminitem.content' ctx}}
        {{#if pageContent.data.[adminitem.documents]}}
          {{#each pageContent.data.[adminitem.documents].value}}
            <a href="{{[file-location].value.file.url}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> {{[document-name].value}}</a>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</main>
