<main class="dashboard">
  <div class="container">
    <form class="dashboard-search">
      <input type="text" placeholder="Search..." value="{{searchQuery}}" id="searchbar">
      <button id="searchButton">Search</button>
    </form>
    <h1>Dashboard</h1>

    <table>
      <tbody>
        {{#each pageContent.results}}
        <tr>
          <td>
            <h4>{{text this 'adminitem.title'}}</h4>
          </td>
          <td>
            {{dateFormat firstPublicationDate}}
          </td>
          <td>
            <a class="button view-item" href="/admin/{{uid}}">View</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <p id="load-more-articles" class="link larger">Load More +</p>
  </div>
</main>
