<main class="login">
    <form action="/admin/login" method="post">
        <div class="container">
            <div class="login-box">
                <h2>Login</h2>
                <label><b>Email address</b></label>
                <input type="email" class="u-full-width" placeholder="Enter Email Address" name="emailaddress" required>
                <label><b>Password</b></label>
                <input type="password" class="u-full-width" placeholder="Enter Password" name="password" required><br>
                <p>By entering this part of the site you hereby agree that the information contained in this site is confidential to you as a shareholder of Cambridge Mechatronics Ltd and that you will respect its confidential nature, hold the information in trust, and take all reasonable precautions to maintain such confidentiality.</p>
                <button type="submit" class="login-button">Login</button>
                <!-- <span class="psw"><a href="#">Forgot password?</a></span> -->
            </div>
        </div>
    </form>
</main>
