<main class="login">
    <form action="/admin/password-reset" method="post">
        <div class="container">
            <div class="login-box">
                <h2>Reset Password</h2>
                <label><b>New Password:</b></label>
                <input type="password" class="u-full-width" name="password" required>
                <label><b>Confirm New Password</b></label>
                <input type="password" class="u-full-width" name="confirmpassword" required><br>
                <input value="Reset" type="submit" class="login-button">
            </div>
        </div>
    </form>
</main>
