<div class="footer-space"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center"> <img src="images/logo-light.png" alt="Image">
      </div>
      <!-- end col-12 -->
      <div class="col-xs-12">
        <div class="sub-footer"> <span class="copyright">Copyright &#64; <script>document.write(new Date().getFullYear())</script> Blue Bulldog Studios is a trademark of Ragnarok IT Solutions Ltd.. All rights reserved.<br />Registered in England Company No. 8919183 VAT Registration No. 181 992 863</span>
          <ul>
            <li><a href="/">HOME</a></li>
            {{!-- <li><a href="/portfolio">PORTFOLIO</a></li> --}}
            <li><a href="/about" class="transition">ABOUT</a></li>
            <li><a href="/careers" class="transition">CAREERS</a></li>
            <li><a href="/contact" class="transition">CONTACT</a></li>
          </ul>
        </div>
        <!-- end sub-footer -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
