<footer>
    <h1 class="logo">Adamson Berekoff - Hairdressers Cambridge</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <ul class="social">
        <li><a target="_blank" href="#"><img src="/img/facebook.svg"/></a></li>
        <li><a target="_blank" href="#"><img src="/img/twitter.svg"/></a></li>
        <li><a target="_blank" href="#"><img src="/img/instagram.svg"/></a></li>
    </ul>
    <p>95 KING STREET CAMBRIDGE CB1 1LD</p>
    <p>Telephone +44 (0) 1223 464439 | Email info@adamsonberekoff.co.uk</p>
    <small>Adamson Berekoff. ALL RIGHTS RESERVED &#64; <script>document.write(new Date().getFullYear())</script></small>
</footer>