<footer>
    <h1 class="logo">Adamson Berekoff - Hairdressers Cambridge</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <ul class="social">
        <li><a target="_blank" href="https://www.facebook.com/Adamson-Berekoff-1387082311555550"><img src="/img/facebook.svg"/></a></li>
        <li><a target="_blank" href="https://twitter.com/adamsonberekoff"><img src="/img/twitter.svg"/></a></li>
        <li><a target="_blank" href="https://www.instagram.com/adamsonberekoff/"><img src="/img/instagram.svg"/></a></li>
    </ul>
    <p>95 KING STREET CAMBRIDGE CB1 1LD</p>
    <p>Telephone <a href="tel:01223464439">+44 (0) 1223 464439</a> | Email <a href="mailto:info@adamsonberekoff.co.uk">info@adamsonberekoff.co.uk</a></p>
    <p>Website designed and built with <img src="/img/icons/love.svg"> by <a href="https://uk.linkedin.com/in/axelhunter" target="_blank">Axel Hunter</a> at <a href="http://ragnaroksolutions.com/" target="_blank">Ragnarok IT Solutions Ltd.</a></p>
    <small>Adamson Berekoff. ALL RIGHTS RESERVED &#64; <script>document.write(new Date().getFullYear())</script></small>
</footer>