<div class="footer-space"></div>
<footer>
  <div class="container text-center">
      <h1 class="logo">Blue Bulldog - A creative web and app studio</h1>
      <span class="copyright">Copyright &#64; <script>document.write(new Date().getFullYear())</script> Blue Bulldog Studios is a trademark of Ragnarok IT Solutions Ltd. all rights reserved.<br />Registered in England Company No. 8919183 VAT Registration No. 181 992 863</span>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about" class="transition">ABOUT</a></li>
        <li><a href="/careers" class="transition">CAREERS</a></li>
        <li><a href="/contact" class="transition">CONTACT</a></li>
      </ul>
  </div>
</footer>
