<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <p>
          Cambridge Mechatronics Ltd<br />
          Building 6<br />
          Westbrook Centre Cambridge, CB4 1YG, England
        </p>
      </div>
      <div class="three columns">
        <p>
          For Enquiries<br />
          info@cambridgemechatronics.com<br />
          Tel. +44 (0)1223 450190
        </p>
      </div>
      <div class="three columns">
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/team">Team</a>
          </li>
          <li>
            <a href="/technology">Technology</a>
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li>
            <a href="/news">News</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <small>©2015 Cambridge Mechatronics Ltd. All Rights Reserved. <a href="/terms">Terms & Conditions</a></small>
  </div>
</footer>
