<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <p>
          Cambridge Mechatronics Ltd,<br/>Westbrook Centre,<br/>Cambridge, CB4 1YG<br/>
        </p>
      </div>
      <div class="three columns">
        <p>
          For Enquiries<br />
          <a href="mailto:info@cambridgemechatronics.com">info@cambridgemechatronics.com</a><br />
          Tel. +44 (0)1223 450190
        </p>
      </div>
      <div class="three columns">
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/team">Team</a>
          </li>
          <li>
            <a href="/technology">Technology</a>
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li>
            <a href="/news">News</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <small>© <script>document.write(new Date().getFullYear())</script> Cambridge Mechatronics Ltd. All Rights Reserved. <a href="/terms">Terms & Conditions</a></small>
  </div>
</footer>
