<div class="footer-space"></div>
<footer>
  <div class="container text-center">
      <h1 class="logo">Blue Bulldog - A creative web and app studio</h1>
      <span class="copyright">Copyright &#64; <script>document.write(new Date().getFullYear())</script> Blue Bulldog Studios is a trademark of {{metaData.company}} all rights reserved.<br />
        Registered in England Company No. {{metaData.companyReg}} VAT Registration No. {{metaData.companyVat}}</span>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/about">BLOG</a></li>
        <li><a href="/careers">CAREERS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      <ul>
        <li><a href="/privacy-policy">Privacy policy</a></li>
        <li><a href="/cookie-policy">Cookie policy</a></li>
        <li><a href="/website-terms">Website terms and conditions</a></li>
        <li><a href="/agency-terms">Agency terms and conditions</a></li>
      </ul>
  </div>
</footer>
