<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wave | Agency & Freelancer Portfolio</title>
  <meta name="author" content="Themezinho">
  <meta name="description" content="Agency & Freelancer Portfolio HTML Template">
  <meta name="keywords" content="wave, creatve, portfolio, html, template, carousel, theme, agency, html5">

  <!-- SOCIAL MEDIA META -->
  <meta property="og:description" content="Wave | Agency & Freelancer Portfolio">
  <meta property="og:image" content="http://www.acrocapoeira.com/wave/preview.png">
  <meta property="og:site_name" content="WAVE">
  <meta property="og:title" content="WAVE">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.acrocapoeira.com/wave">

  <!-- TWITTER META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@WAVE">
  <meta name="twitter:creator" content="@WAVE">
  <meta name="twitter:title" content="WAVE">
  <meta name="twitter:description" content="Wave | Agency & Freelancer Portfolio">
  <meta name="twitter:image" content="http://www.acrocapoeira.com/wave/preview.png">

  <!-- FAVICON FILES -->
  <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="ico/favicon.png" rel="shortcut icon">

  <!-- CSS
  ================================================== -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css /css/styles.min.css -->
  <link href="css/main.css" rel="stylesheet">
  <!-- endbuild -->

</head>
