<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blue Bulldog - A creative web and app studio</title>
  <meta name="author" content="Ragnarok IT Solutions Ltd.">
  <meta name="description" content="A small website and mobile application, design and development company based in Cambridge, UK.">

  <!-- SOCIAL MEDIA META -->
  <meta property="og:description" content="A small website and mobile application, design and development company based in Cambridge, UK.">
  <meta property="og:image" content="/images/banner3.jpg">
  <meta property="og:site_name" content="Blue Bulldog - A creative web and app studio">
  <meta property="og:title" content="Blue Bulldog - A creative web and app studio">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://bluebulldog.co.uk">

  <!-- TWITTER META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bluebulldogstudio">
  <meta name="twitter:creator" content="@bluebulldogstudio">
  <meta name="twitter:title" content="Blue Bulldog - A creative web and app studio">
  <meta name="twitter:description" content="Blue Bulldog - A creative web and app studio">
  <meta name="twitter:image" content="http://bluebulldog.co.uk">

  <!-- FAVICON FILES -->
  <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="ico/favicon.png" rel="shortcut icon">

  <!-- CSS
  ================================================== -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css /css/styles.min.css -->
  <link href="css/main.css" rel="stylesheet">
  <!-- endbuild -->

</head>
