<nav>
  <div class="container">
    <a href="/">
      <img src="/images/logo.svg" class="logo" />
    </a>
    <ul class="pull-right sitenavigation animated">
      <li class="{{#if active_about}}active{{/if}}">
        <a href="/about">About</a>
      </li>
      <li class="{{#if active_team}}active{{/if}}">
        <a href="/team">Team</a>
      </li>
      <li class="{{#if active_tech}}active{{/if}}">
        <a href="/technology">Technology</a>
      </li>
      <li class="{{#if active_news}}active{{/if}}">
        <a href="/news">News</a>
      </li>
      <li class="{{#if active_contact}}active{{/if}}">
        <a href="/contact">Contact</a>
      </li>
      <li class="{{#if active_careers}}active{{/if}}">
        <a href="/careers">Careers</a>
      </li>
      {{#if authUser.admin}}
      <li>
        <a href="/admin/users/list">Users</a>
      </li>
      {{/if}}
      {{#if authUser._id}}
      <li>
        <a href="/admin">Dashboard</a>
      </li>
      <li>
        <a class="button" href="/admin/logout">Logout</a>
      </li>
      {{else}}
      <li>
        <a class="button" href="/admin/login">Login</a>
      </li>
      {{/if}}
    </ul>
      <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</nav>
