<header id="header">
  <div class="container">
    <h1 class="logo">Site Title</h1>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">The Studio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
