<nav>
  <section class="top-bar">
    <div class="container">
      <div class="row">
        <div class="eight columns">
          <ul class="navbar-list">
            <li class="navbar-item icon facebook">
              <a class="navbar-link" href="#">
                icon
              </a>
            </li>
            <li class="navbar-item icon twitter">
              <a class="navbar-link" href="#">
                icon
              </a>
            </li>
            <li class="navbar-item icon linkedin">
              <a class="navbar-link" href="#">
                icon
              </a>
            </li>
            <li class="navbar-item icon email">
              <a class="navbar-link" href="#">
                icon
              </a>
            </li>
            <li class="navbar-item icon phone">
              <a class="navbar-link" href="#">
                icon
              </a>
            </li>
          </ul>
        </div>
        <div class="two columns">
          <button class="u-full-width u-pull-right">Sign In</button>
        </div>
        <div class="two columns">
          <button class="u-full-width button-primary u-pull-right">Sign Up</button>
        </div>
      </div>
    </div>
  </section>
  <section class="navbar">
    <div class="container">
      <div class="row">
        <div class="three columns">
          <h1 class="logo">Momentum</h1>
        </div>
        <div class="nine columns">
          <ul class="navbar-list u-pull-right">
            <li class="navbar-item">
              <a class="navbar-link" href="#">
                Join Momentum Umbrella
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#">
                Set up Momentum Limited
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#">
                About us
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</nav>
