<nav>
  <div class="container">
    <h1 class="logo">{{metaData.title}}</h1>
    <ul class="pull-right">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/team">Team</a>
      </li>
      <li>
        <a href="/technology">Technology</a>
      </li>
      <li>
        <a href="/news">News</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/careers">Careers</a>
      </li>
      <li>
        <a class="button" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
