<div class="navigation" role="navigation">
  <div class="table">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/portfolio">PORTFOLIO</a></li>
          <li><a href="/about" class="transition">ABOUT</a></li>
          <li><a href="/careers" class="transition">CAREERS</a></li>
          <li><a href="/contact" class="transition">CONTACT</a></li>
        </ul>
      </nav>
      <span class="copyright">Copyright &#64; <script>document.write(new Date().getFullYear())</script> Blue Bulldog Studios is a trademark of Ragnarok IT Solutions Ltd.. All rights reserved.<br />Registered in England Company No. 8919183 VAT Registration No. 181 992 863</span>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> <a href="/"><img src="images/logo-light-simple.png" alt="Image" class="logo"></a>
        <div class="hamburger-menu visible-xs visible-sm"> <span></span> <span></span> <span></span> <span></span> </div>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
          <li><a href="/">HOME</a></li>
          <li><a href="/portfolio">PORTFOLIO</a></li>
          <li><a href="/about" class="transition">ABOUT</a></li>
          <li><a href="/careers" class="transition">CAREERS</a></li>
          <li><a href="/contact" class="transition">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
