<nav class="wow bounceInDown" data-wow-delay=".8s">
  <div class="container">
    <h1 class="logo">Blue Bulldog - A creative web and app studio</h1>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about" class="transition">ABOUT</a></li>
      <li><a href="/careers" class="transition">CAREERS</a></li>
      <li><a href="/contact" class="transition">CONTACT</a></li>
    </ul>
  </div>
</nav>
