<nav class="wow bounceInDown" data-wow-delay=".8s">
  <div class="container">
    <a href="/"><h1 class="logo">Blue Bulldog - A creative web and app studio</h1></a>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/careers">CAREERS</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
