{{#if error}}
<div class="notification error animated fadeInDown" id="notifier">{{error}}</div>
{{/if}}
{{#if success}}
<div class="notification success animated fadeInDown" id="notifier">{{success}}</div>
{{/if}}
