html body {
  overflow-y: scroll;
  /* has to be scroll, not auto */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FCFCFC;
  color: #FCFCFC; }
  html body .side-nav {
    display: none; }
  html body a {
    color: inherit;
    text-decoration: none; }
  html body .wrap {
    background: #282B2D; }
  html body header {
    text-align: center; }
    html body header .open {
      display: none;
      cursor: pointer; }
    html body header .logo {
      width: 90%;
      margin: 0 auto;
      height: 100px;
      background: url(/img/logo.png);
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -999999px; }
    html body header nav {
      width: 100%; }
      html body header nav ul li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0rem 1rem; }
        html body header nav ul li a {
          color: #FCFCFC;
          text-decoration: none; }
  html body footer {
    background: #FCFCFC;
    color: #1A1A1A;
    text-align: center;
    padding: 2rem 5rem; }
    html body footer p {
      text-align: center; }
    html body footer small {
      font-size: 0.5rem;
      text-transform: uppercase; }
    html body footer .logo {
      width: 90%;
      margin: 0 auto;
      height: 50px;
      margin-bottom: 1rem;
      background: url(/img/logo-dark.png);
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -999999px; }
    html body footer nav {
      margin-bottom: 1rem;
      width: 100%; }
      html body footer nav ul li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0rem 1rem; }
        html body footer nav ul li a {
          color: #1A1A1A;
          text-decoration: none; }
    html body footer .social {
      margin-bottom: 1rem; }
      html body footer .social li {
        display: inline-block;
        margin: 0 1rem; }
        html body footer .social li a img {
          width: 3rem; }
  html body form {
    box-sizing: border-box; }
    html body form label {
      display: block;
      margin-bottom: 1rem;
      font-size: 0.8rem;
      box-sizing: border-box; }
      html body form label input, html body form label textarea {
        display: block;
        margin-top: 0.5rem;
        width: 100%;
        background: #E9E9E9;
        border: none;
        border-radius: 3px;
        padding: 0.8rem 1rem;
        font-size: 1.2rem;
        box-sizing: border-box; }
      html body form label textarea {
        width: 100%;
        min-height: 120px;
        box-sizing: border-box; }
    html body form .btn {
      color: #1A1A1A;
      border-color: #1A1A1A; }
      html body form .btn:hover {
        background: #1A1A1A;
        color: #FCFCFC; }
  html body .col-2 {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    box-sizing: border-box;
    padding: 2.5rem; }
    html body .col-2.light {
      color: #1A1A1A;
      background: #FCFCFC; }
    html body .col-2 ul li {
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: uppercase; }
      html body .col-2 ul li span {
        margin-left: 1rem;
        font-weight: 200; }
  html body hr {
    width: 10%;
    margin: 1rem auto; }
  html body .btn {
    transition: background-color .1s ease;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #FCFCFC;
    color: #FCFCFC;
    outline: none;
    border-radius: 3px;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    background: none;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    margin: 1rem auto; }
    html body .btn:hover {
      background: #FCFCFC;
      color: #1A1A1A; }
  html body h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem; }
  html body h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  html body h4 {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  html body p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    text-align: justify; }
  html body #map {
    width: 100%;
    height: 400px;
    background: #E3E3E3; }
  html body .gallery {
    margin-top: 2rem; }
    html body .gallery img {
      width: 33%;
      display: inline-block;
      padding: 1rem;
      box-sizing: border-box; }
  html body .team {
    text-align: center; }
    html body .team li {
      width: 25%;
      display: inline-block;
      padding: 1rem;
      box-sizing: border-box;
      vertical-align: top; }
      html body .team li:before {
        content: ' ';
        display: block;
        width: 100%;
        height: 250px;
        background: #fff url(/img/team/default.svg);
        margin-bottom: 1rem;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        transition: 1s -webkit-filter linear;
        cursor: pointer;
        border-radius: 10px;
        border-radius: 50%; }
      html body .team li:hover:before {
        -moz-filter: none;
        -o-filter: none;
        -webkit-filter: none;
        filter: none; }
      html body .team li[data-rel="jamie"]:before {
        background: #FCFCFC url(/img/team/jamie.jpg);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li[data-rel="ryan"]:before {
        background: #FCFCFC url(/img/team/ryan.jpg);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li[data-rel="cara"]:before {
        background: #FCFCFC url(/img/team/cara.jpg);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li[data-rel="alex"]:before {
        background: #FCFCFC url(/img/team/alex.jpg);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li[data-rel="kieran"]:before {
        background: #FCFCFC url(/img/team/kieran.jpg);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li[data-rel="indre"]:before {
        background: #FCFCFC url(/img/team/indre.png);
        background-position: center;
        background-repeat: no-repeat; }
      html body .team li small {
        font-weight: lighter;
        text-transform: uppercase; }
      html body .team li h3 {
        margin-bottom: 0.5rem; }
      html body .team li p {
        display: none; }
  html body section {
    width: 100%;
    box-sizing: border-box; }
    html body section .banner {
      margin-bottom: 2rem;
      max-width: 100%; }
    html body section.parallax {
      padding: 10rem;
      background: grey; }
      html body section.parallax.services {
        background: url(/img/services-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 2rem;
        background-position: bottom; }
      html body section.parallax.contact {
        background: url(/img/contact-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 2rem;
        background-position: bottom; }
    html body section[data-type="home"], html body section[data-type="team"] {
      text-align: center;
      padding: 2rem 5rem; }
    html body section[data-type="services"] .col-2 {
      text-align: center; }
    html body section[data-type="team"] {
      background: #FCFCFC;
      color: #1A1A1A;
      margin-top: 2rem; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .parallax {
    background-attachment: initial !important;
    background-position: center !important; }
  .team li:before {
    border-radius: 10px !important; } }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .side-nav {
    width: 70%;
    position: fixed;
    background: #FCFCFC;
    color: #555555;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center; }
    .side-nav .close {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #555555;
      cursor: pointer; }
      .side-nav .close:before {
        content: ' ';
        width: 25px;
        height: 25px;
        vertical-align: middle;
        background: url("/img/icons/close.svg");
        background-position: center;
        background-size: contain;
        display: inline-block;
        margin-right: 0.5rem; }
    .side-nav.show {
      display: block; }
    .side-nav img {
      width: 30%;
      margin-top: 4rem; }
    .side-nav ul {
      margin: 0 auto;
      box-sizing: border-box;
      text-align: left;
      margin-top: 4em; }
      .side-nav ul li {
        font-size: 1.2rem !important;
        padding: 1em 2rem;
        font-weight: 500;
        text-transform: lowercase; }
        .side-nav ul li a[href="/"]:before {
          content: ' ';
          width: 25px;
          height: 25px;
          vertical-align: bottom;
          background: url("/img/icons/home.svg");
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-right: 0.5rem; }
        .side-nav ul li a[href="/services"]:before {
          content: ' ';
          width: 25px;
          height: 25px;
          vertical-align: bottom;
          background: url("/img/icons/services.svg");
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-right: 0.5rem; }
        .side-nav ul li a[href="/team"]:before {
          content: ' ';
          width: 25px;
          height: 25px;
          vertical-align: bottom;
          background: url("/img/icons/team.svg");
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-right: 0.5rem; }
        .side-nav ul li a[href="/gallery"]:before {
          content: ' ';
          width: 25px;
          height: 25px;
          vertical-align: bottom;
          background: url("/img/icons/gallery.svg");
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-right: 0.5rem; }
        .side-nav ul li a[href="/contact"]:before {
          content: ' ';
          width: 25px;
          height: 25px;
          vertical-align: bottom;
          background: url("/img/icons/contact.svg");
          background-position: center;
          background-size: contain;
          display: inline-block;
          margin-right: 0.5rem; }
  header .logo {
    margin-top: 3rem !important; }
  header .open {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block !important; }
    header .open:before {
      content: ' ';
      width: 25px;
      height: 25px;
      vertical-align: middle;
      background: url("/img/icons/menu.svg");
      background-position: center;
      background-size: contain;
      display: inline-block;
      margin-right: 0.5rem; }
  header nav, footer nav {
    display: none; }
  .wrap {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #282B2D;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; }
    .wrap.active {
      left: 70%;
      right: -70%; }
  section[data-type="home"], section[data-type="team"] {
    padding: 2rem 1rem !important; }
  .logo {
    background-size: contain !important; }
  li, p {
    font-size: 0.9rem !important; }
  .gallery img {
    width: 100% !important; }
  footer {
    padding: 2rem 1rem !important; }
  .col-2 {
    display: block !important;
    width: 100% !important;
    padding: 2.5rem 1em !important; }
  .team li {
    width: 100% !important; } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
