<section class="blue">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h1 class="bold">Why Blue Bulldog?</h1>
        <h4 class="bold">Our vision and strategy puts your business first.</h4>
      </div>
      <div class="six columns">
        <p>
          We believe in our people and inspiring them to be the best that they can be. We hold customer-centricity at our very core. With pace and agility we will excite and energise. With the development of disruptive technologies we will reduce friction for our clients and the sectors in which they operate.
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Web development -->
<section class="white text-center">
  <div class="container">
    <div class="row">
      <div class="twelve columns text-center">
        <h2 class="bold">Our approach</h2>
        <h4 class="bold">Our approach is influenced through in-depth research and valuable insight, making sure we fully understand your target market as a foundation.</h4>
        <p>
          We work to a 3-step methodology to understand and deliver your project. Throughout the journey, we will work through our tried and tested digital process to ensure that each milestone of the project is clearly communicated and approved at critical stages. Below are the 3-steps broken down to clarify how we work... collaboratively.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- App development -->
<section class="mustard text-center">
  <div class="container">
    <div class="row">
      <div class="four columns text-center">
        <img src="/img/icons/coffee.svg" height="40px" />
        <h3>Strategy and insight</h3>
        <p>
          The project kicks off with a relaxed workshop where we will extract all of the essential knowledge required for your project. This will cover everything from brand deliverables to the execution strategy that is needed to ensure that your project is a successful one.
        </p>
      </div>
      <div class="four columns text-center">
        <img src="/img/icons/brush.svg" height="40px" />
        <h3>Planning and design</h3>
        <p>
          We work to bring together all of the information that was gathered in the workshop to visualise your project. This will be a series of wireframes and a general plan for delivery. At this point we will also have used agile planning methodologies to make sure that we always on track.
        </p>
      </div>
      <div class="four columns text-center">
        <img src="/img/icons/bulb.svg" height="40px" />
        <h3>Delivery and feedback</h3>
        <p>
          It's at this stage that your project comes to life. Our skilled teams of developers and designers will get to work. Team and client collaboration is a mantra that we work by so you will remain in control of the lifeline and next steps of the build cycle.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Web design -->
<section class="turquoise text-center">
  <div class="container">
    <div class="row">
      <div class="twelve columns text-center">
        <h2 class="bold">We're a friendly bunch</h2>
        <h4 class="bold">And we like to get to know all of clients.</h4>
        <p>
          The client is at the heart of our business and we feel that our work expresses that. Each new client is unique and we strive on making sure that you feel that you have been put first.
        </p>
      </div>
    </div>
  </div>
</section>
