<main class="about">
  <div class="container">
    <div class="hero about margin" style="background-image: url('{{pageContent.data.[aboutpage.hero].value.main.url}}')">
      <div class="inner">
        <h2>About</h2>
      </div>
    </div>
    {{structuredText pageContent.data.[aboutpage.body]}}
    <section class="bg-beige milestones">
      {{#each pageContent.data.[aboutpage.milestones].value}}
        <div class="milestone">
          <div class="logo" style="background-image: url('{{logo.value.main.url}}')"></div>
          {{structuredText body}}
        </div>
      {{/each}}
    </section>
  </div>
</main>
