<main class="about">
  <div class="container">
    <div class="hero about margin" style="background-image: url('{{image pageContent 'aboutpage.hero'}}')">
      <div class="inner">
        <h2>About</h2>
      </div>
    </div>
    {{structuredText pageContent 'aboutpage.body' ctx}}
    <section class="bg-beige milestones">
      {{#group pageContent 'aboutpage.milestones'}}
        <div class="milestone">
          <div class="logo" style="background-image: url('{{image this 'logo'}}')"></div>
          {{structuredText this 'body' ../ctx}}
        </div>
      {{/group}}
    </section>
  </div>
</main>
