<main class="no-header">
  <section class="light">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.05s">agency terms and conditions</h2>
      <p>
        Acceptance of quotation and payment of deposit will be taken as acceptance of the following terms and conditions. Please ensure you have read and fully understand what is written below. Please contact us if anything is not clear to you.
      </p>
      <ol>
        <li>
          All costs provided exclude VAT where applicable and are valid for thirty days from the date of the quotation.
        </li>
        <li>
          The costs provided when quoting are guide prices based upon what we anticipate the creative, time and production requirements to be based on previous experience and on typical processes, plus client co-operation in provision of content, meeting deadlines and approval. Within reason, additional charges may be payable if there are significant variations to this, although the client would be made aware of this well in advance. Charges are unlikely to deviate from those quoted unless requirements change significantly.
        </li>
        <li>
          No creative or development work will commence until the agency has received written approval of the quotation (by hand or by email) and a minimum deposit of 50% of the agreed costs (unless otherwise agreed in writing). This ensures that the agency is fully equipped to provide the very highest levels of service and expertise, from project inception through to completion. This also applies if a project is delivered in ‘stages’, whereby a deposit will be required before proceeding to each new stage.
        </li>
        <li>
          Unless otherwise agreed in writing, the balance of payment will be due in full on project completion (e.g on delivery of printed items, publishing of website, sending of e-shot etc): failure to make final payment at this point may result in delays in project delivery.
        </li>
        <li>
          If a quotation has been provided where a job will be approached in ‘stages’, each stage will need to be paid in full on completion of each stage, before the agency is able to progress to the next stage. Where a job has been quoted in two halves (initial 50% deposit and final 50% balance) the balance of payment may be charged in full either on completion of the project or over a number of further staged payments at the discretion of the agency.
        </li>
        <li>
          If any project exceeds the estimated timeline agreed or extends beyond twelve weeks from approval of quotation (whichever occurs first), the agency reserves the right to invoice 25% of any outstanding balance, with the remaining 25% payable on completion.
        </li>
        <li>
          Any printing, fulfilment, mailing or third-party services that are provided by the agency will require a minimum up-front payment of 75% (possibly higher in relation to value) of the agreed cost (this figure will be at the discretion of the agency and may in some cases be as much as 100%). Please note that the agency will be unable to proceed to this stage without receipt of or proof of this payment.
        </li>
        <li>
          Unless otherwise stated above or previously agreed in writing, all invoices are due within seven days of any invoice date. Please note points number 3, 4, 5 and 7 above and how this could have an impact on time scales.
        </li>
        <li>
          Unless otherwise agreed in writing, work will usually commence within ten working days of deposit receipt. Any anticipated completion date provided by the agency is subject to options chosen and client co-operation in provision of information, resource (logos, images etc) and approval. The agency will do its very best to ensure that agreed timelines are adhered to, but please be aware that circumstances, amends requested, or additional requirements may potentially result in delays. Time lines provided are estimated but the agency will not be held liable if the project over-runs due to delays caused by the client passing information or approval, or any third party issues or force majeure (act of God).
        </li>
        <li>
          Costs provided allow for presentation of a minimum of two creative options per brief for the client to choose from. In the unlikely event that the client is not satisfied with the first round of presented work, the agency will develop a further round of additional creative development and presentation. If after this third round there is still no agreement on direction, the agency reserves the right to potentially bring to an end any agreement with the client with no refund of deposit or payments made previously.
        </li>
        <li>
          Costs provided allow for a maximum of three sets of client amends after which time additional charges may become payable, although the client would be made aware of this in advance.
        </li>
        <li>
          At the end of each stage of the process (including – but not limited to – before sending an item to print or publishing a website etc) the client will need to ‘sign-off’ their approval either in person or by email. No further development can be undertaken until the agency is in receipt of written approval confirmation. Any amends to work after signed approved may incur additional charges for further time spent, although the client would be made aware of this in advance.
        </li>
        <li>
          Costs provided allow for occasional meetings at key stages for a reasonable length of time between the agency and client. Some meetings may incur additional charges for time spent, although the client would be made aware of this in advance.
        </li>
        <li>
          Unless otherwise agreed in writing, projects are subject to a ‘standard disbursement charge’ to cover anticipated costs for in-house colour printing, travel, postage etc.
        </li>
        <li>
          Unless otherwise specified, costs quoted exclude the following where relevant: VAT; print; commissioned illustration, photography or stock images; image retouching; image scanning; copywriting; postage, in-house colour print-outs and travel exceeding that allocated within the ‘standard disbursement charge’ above; web hosting (it will often be a prerequisite to host on one of our competitively priced servers, particularly if a website incorporates an e-commerce or content management system); couriers; other third-party costs incurred (such as merchant bank and payment gateway charges) etc.
        </li>
        <li>
          It is assumed that unless otherwise stated, most copy and images will be provided by the client, although the agency will contribute to this (through headlines, and top-line messages etc) as a natural part of the creative process. The agency is able to provide a full copywriting service or copy advice, as well as illustration and photography at an additional cost if required. Purchased royalty-free stock images from our standard sources (if required) will generally be priced at between £25 and £45 + VAT per image (dependent on source, image size and quality) to cover sourcing time and image costs. Specific image requirements not satisfied by our standard sources will be charged at cost + 15% + VAT, with prior client notification.
        </li>
        <li>
          The agency recommends that clients use our preferred suppliers for print and is able to provide competitive quotations to ensure high quality and service is maintained until delivery of the final product. We always seek a number of quotations from our trusted print suppliers and provide a complete management service: from print sourcing to print-liaision to proof checking. Although clients are not contract-bound to use the agency to provide this service, it is highly recommended for quality control and peace of mind. If a client prefers to use their own print supplier, the agency will simply provide artwork directly to the client to manage and forward, and will be unable to monitor, advise or take any responsibility for the process or final output.
        </li>
        <li>
          In addition to print suppliers, the agency works closely with sign manufacturers and installers, photographers, illustrators, film makers, interior designers and other relevant partners to provide an extensive high-quality service offering beyond immediate in-house capabilities.
        </li>
        <li>
          Clients should be aware that due to a variety of factors there will often be variance in colours shown between in-house proofs, colours on screen, printer’s proofs, and final printed items. These factors are determined by the source of the print or visual (each output source e.g the agency printer, the client’s printer, the image setter, the monitor etc will differ from the other), the types of inks or make-up of colours (even Pantone colours can vary significantly and often surprisingly depending on what stock or substrate they are printed on), the type of print process (short-run digital, longer-run litho printing), the substrate (paper, card, plastic etc) used, individual preferences (ambient light, personal computer settings etc) and several other reasons. As a result of this the agency is unable to guarantee 100% consistency and accuracy of colour on all items and may not always be able to achieve the exact result expected by the client. In the case of printed items, the only true guide as to what is likely to be produced, is to request a ‘wet-proof’ on the actual intended substrate with the actual inks to be used, although this will incur additional cost. However as long as the client accepts there may be inconsistencies across work produced, this step may not be necessary. The agency does not accept any responsibility for colour variations as a result of these indeterminate factors.
        </li>
        <li>
          Until payment is received in full, all designs, artwork and rights to design and artwork (whether in digital or printed format) remain the intellectual property of Blue Bulldog. Full copyright and ownership of all ‘commissioned’ work will reside with Blue Bulldog until full payment has been received, at which point the agency will surrender to the client, all claims of ownership and full copyright for final work produced (not including alternative designs, concepts, options, files, images or documents developed throughout the process). This agreement is subject to appropriate credit and acknowledgment appearing and the agency’s right to use the work for self promotion in its portfolio, in presentations, in advertising, in print and online.
        </li>
        <li>
          Blue Bulldog will never knowingly infringe any copyright or trademark and will deliver, to the best of knowledge, creative solutions that are original and unique to the agency. Unless otherwise agreed in writing, it is the responsibility of the client to ensure that no copyright or trademark has been infringed and to make their own application for copyright or trademark with the ‘UK Intellectual Property Office’ if required.
        </li>
        <li>
          If requested, the agency will (at its discretion) provide the client with end-artwork in its final form (e.g. print-ready PDF; DVD master; outlined EPS file etc). However the agency does not by default (and possibly without further charge) provide clients with original artwork or HTML code (for example an InDesign file, layered Photoshop file or HTML source file) or any working or development files, rejected concepts and designs, images or documents generated throughout the project. Ownership and copyright of all unused or rejected files, documents and designs will reside with Blue Bulldog for non-exclusive future use.
        </li>
        <li>
          The agency will not at any time or in any manner, either directly or indirectly, use for our personal benefit or divulge, disclose or communicate in any manner any information that is proprietary to the client. We will act reasonably to protect such information and treat it as strictly confidential.
        </li>
        <li>
          The client agrees to indemnify Blue Bulldog and keep the agency indemnified and hold the agency harmless from and against any claims, actions, proceedings, losses, liabilities, damages, costs, or expenses suffered or incurred in relation to work or services provided. The agency is not liable for any loss that may occur before, during or after the development of projects undertaken. The agency will not be held responsible for any delays, errors or losses arising from any third party.
        </li>
        <li>
          The client agrees to alert the agency in writing to any defects or problems in relation to work and services provided, within 30 days of the final invoice date. The agency will not be liable for any claims made after this period.
        </li>
        <li>
          For all web related projects, unless specifically stated, the client will retain 100% ownership of the web page design only (ownership is not applicable to proprietary software and programs or source code, such as databases, e-commerce and/or content management systems, web application source code or flash files/animations).
        </li>
        <li>
          The agency offers a web hosting service to host the websites we have built for our clients. This is recommended in order to ensure ongoing quality of service and is a mandatory requirement for websites incorporating a content management system (CMS) or e-commerce system. Although the standard of our hosting packages are high, the agency is unable to guarantee 100% up-time (as no web host would) nor accept any responsibility for any error, omission or misrepresentation in relation to the websites hosted or for any loss, damage, cost or expense (whether direct, indirect, consequential or otherwise) suffered by any user of the websites hosted. The agency makes no warranties or representations of any kind that hosting will be uninterrupted, error-free or that the website or the server that hosts the website are free from viruses or other forms of harmful computer code. In no event shall the agency, its employees or agents be liable for any direct, indirect or consequential damages resulting from the hosting of websites on our servers.
        </li>
        <li>
          Appropriate credit and acknowledgment for work produced by the agency should be attributed to Blue Bulldog where possible (for instance written in small text on the back of a printed item or at the bottom of a website) and may be referenced for the agency’s promotional purposes unless otherwise (in exceptional circumstances) prearranged with the client.
        </li>
        <li>
          These terms and conditions of business supersede any previous versions and apply to all present and future projects unless otherwise agreed in writing. Blue Bulldog reserves the right to change or modify these terms at any stage with immediate effect. By agreeing to these terms, your statutory rights are not affected.
        </li>
      </ol>
    </div>
  </section>
</main>
