<main class="careers">
  <div class="container">
    <div class="hero margin careers" style="background-image: url('{{image pageContent 'careerspage.hero'}}')">
      <div class="inner">
        <h2 class="indigo">Careers</h2>
      </div>
    </div>
    {{structuredText pageContent 'careerspage.body' ctx}}
    {{#group pageContent 'careerspage.career'}}
      {{structuredText this 'body' ../ctx}}
      {{#if job-spec}}
      <a class="link" href="#">Download full job spec</a>
      {{/if}}
      <hr />
    {{/group}}
  </div>
</main>
