<main class="careers">
  <div class="container">
    <div class="hero margin careers" style="background-image: url('{{pageContent.data.[careerspage.hero].value.main.url}}')">
      <div class="inner">
        <h2 class="indigo">Careers</h2>
      </div>
    </div>
    {{structuredText pageContent.data.[careerspage.body]}}
    <div class="careers">
      {{#each pageContent.data.[careerspage.career].value}}
      <div class="career">
        {{structuredText body}}
        <a class="link" href="#">Download full job spec</a>
      </div>
      {{/each}}
    </div>
  </div>
</main>
