<main class="careers">
  <div class="container">
    <div class="hero margin careers" style="background-image: url('{{pageContent.data.[careerspage.hero].value.main.url}}')">
      <div class="inner">
        <h2 class="indigo">Careers</h2>
      </div>
    </div>
    {{structuredText pageContent.data.[careerspage.body]}}
    {{#each pageContent.data.[careerspage.career].value}}
      {{structuredText body}}
      {{#if job-spec}}
      <a class="link" href="#">Download full job spec</a>
      {{/if}}
      <hr />
    {{/each}}
  </div>
</main>
