<!-- end navbar -->
<section class="int-header hero6">
  <div class="table">
    <div class="inner">
      <div class="container">
        <h3>wave cAreer</h3>
        <p>We are always looking for people with a creative vision</p>
        <img src="images/icon-mouse.png" alt="Image"> </div>
      <!-- end container -->
    </div>
    <!-- end inner -->
  </div>
  <!-- end table -->
</section>
<!-- end int-header -->
<main>
  <section class="career">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.career</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">We are always looking for peoples with a creative vision.</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end title-box -->
        </div>
        <!-- end col-12 -->
        <div class="col-md-4">
          <h4>Digital Art Director</h4>
          <p>If you are in love with concept, ideas, campaigns, story telling & responsive awesomeness for the digital age send us your portfolio.</p>
          <a href="career.html#">APPLY NOW</a> </div>
        <!-- end col-4 -->
        <div class="col-md-4">
          <h4>Front-END Developer</h4>
          <p>We are looking for a mastermind that turns consumer insights into solid digital strategies connecting brands with people.</p>
          <a href="career.html#">APPLY NOW</a> </div>
        <!-- end col-4 -->
        <div class="col-md-4">
          <h4>Digital Strategist</h4>
          <p>If you are able to make sense of research data, find a clear way in a complex world and turn it into digital propositions, work your magic with us.</p>
          <a href="career.html#">APPLY NOW</a> </div>
        <!-- end col-4 -->
        <div class="col-xs-12">
        	<form class="resume-form">
            	<h3>SEND YOUR RESUME</h3>
            	<div class="form-group">
                	<label>Your name</label>
                    <input type="text">
                </div>
                <!-- end form-group -->
            	<div class="form-group">
                	<label>Your e-mail</label>
                    <input type="text">
                </div>
                <!-- end form-group -->
            	<div class="form-group">
                	<label>Your Resume (DOCX - PDF)</label>
                    <input type="file">
                </div>
                <!-- end form-group --><div class="form-group">
                	<label>Your message</label>
                    <textarea></textarea>
                </div>
                <!-- end form-group -->
                <div class="form-group">
                	<button type="submit">APPLY NOW</button>
                </div>
                <!-- end form-group -->
            </form>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end news -->
</main>
