<main class="no-header">
  <section class="career">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">CAREERS</h2>
            <hr />
          </div>
        </div>
        <div class="col-md-12">
          <p>
            We are a small but perfectly formed creative web agency based in Newmarket. We have been making pretty things online since 2006 and are always on the lookout for like-minded people.
          </p>
          <p>
            We are always looking for new talent at the bluebulldog design studios. Whether you have a flair for graphic design or web development we are always happy to hear from you!
          </p>
          <p>
            If you are interested in working with us please send all enquiries to <a href="mailto:careers@bluebulldog.co.uk">careers@bluebulldog.co.uk</a>
          </p>
          <h3>No recruitment agencies.</h3>
        </div>
      </div>
    </div>
  </section>
</main>
