<main class="careers">
  <div class="container">
    <div class="hero">
      <div class="inner">
        <h2>Contact</h2>
      </div>
    </div>
    <h2>Join us</h2>
    <p>
      We are looking for dynamic and ambitious engineers to join our growing team of world-class electronics, control and firmware engineers who will make their mark on our smart actuator technology. The roles will report to the Commercial Electronics Director, who heads up our team developing leading edge electronics and control solutions for our technology. We are currently recruiting for the following positions:
    </p>
    <div class="row padded">
      <div class="four columns">
        <h4 class="wow fadeInUp">Senior Firmware Engineer</h4>
        <p class="wow fadeInUp">
          Specify, develop and evaluate embedded firmware solutions to drive our actuator technology, and support transfer of these into high volume production. Develop and improve the methods and procedures to enhance our ability to deliver successful products. Interface with CML’s partners and customers to understand their requirements and to deliver the assistance that they need to use our products.
        </p>
        <a class="link" href="#">Download full job spec</a>
      </div>
      <div class="four columns">
        <h4 class="wow fadeInUp">Firmware Engineer</h4>
        <p class="wow fadeInUp">
          Specify, develop and evaluate embedded firmware solutions to drive our actuator technology, and support transfer of these into high volume production. Develop and improve the methods and procedures to enhance our ability to deliver successful products. Interface with CML’s partners and customers to understand their requirements and to deliver the assistance that they need to use our products.
        </p>
        <a class="link" href="#">Download full job spec</a>
      </div>
      <div class="four columns">
        <h4 class="wow fadeInUp">Electronics Engineer</h4>
        <p class="wow fadeInUp">
          Specify, develop and evaluate electronics solutions to drive our actuator technology, and support transfer of these into high volume production. Develop and improve the methods and procedures to enhance our ability to deliver successful products.
        </p>
        <a class="link" href="#">Download full job spec</a>
      </div>
    </div>
  </div>
</main>
