<main class="contact">
  <div class="container">
    <div class="hero contact-image margin">
      <div class="inner">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row padded">
      <div class="four columns">
        <div class="beige-circle" id="email"></div>
        <h5>Email</h5>
        <p>
          General enquiries<br/>info@cambridgemechatronics.com
        </p>
      </div>
      <div class="four columns">
        <div class="beige-circle" id="tel"></div>
        <h5>Call & Fax</h5>
        <p>
          Telephone<br/>+44 (0) 1223 450 190
        </p>
        <p>
          Fax<br/>+44 (0) 1223 450 190
        </p>
      </div>
      <div class="four columns">
        <div class="beige-circle" id="location"></div>
        <h5>Address</h5>
        <p>
          Cambridge Mechatronics Ltd<br/>Building 6<br/>Westbrook Centre<br/>Cambridge<br/>CB4 1YG<br/>England
        </p>
        <a class="google-link" href="/">Google Maps</a>
        <p>
          Company Registration<br/>Registered in England: 3071231
        </p>
      </div>
    </div>
  </div>
</main>
