<main class="no-header">
  <section  class="parallax contact"></section>
  <section class="light">
    <div class="container">
      <div class="row">
        <div class="four columns wow fadeInUp" data-wow-delay="0.05s">
          <h5>CONTACT INFO</h5>
          <p>
            We're a friendly bunch, and we are just a phone call away. If you are in need of any of our services, pop in your details below or better still, give us a call.
          </p>
        </div>
        <div class="four columns wow fadeInUp" data-wow-delay="0.05s">
          <h5>ADDRESS</h5>
          <span>{{metaData.title}}<br />
            Ragnarok IT Solutions Ltd.<br />
            14 Eaton Court Road<br />
            Colmworth Business Park<br />
            Eaton Socon<br />
            St Neots<br />
            Cambridgeshire<br />
            PE19 8ER
          </span>
        </div>
        <div class="four columns wow fadeInUp" data-wow-delay="0.05s">
          <h5>CONTACT DETAILS</h5>
          <span>t: +44 (0) 800 0119031<br />
            info: <a href="mailto:info@bluebulldog.co.uk">info@bluebulldog.co.uk</a><br />
          </span>
        </div>
      </div>
      <h2 class="wow fadeInUp" data-wow-delay="0.05s">get in touch</h2>
      {{#if msg}}
        {{#if err}}
          <h4 class="wow rubberBand error" data-wow-delay="0.05s">{{msg}}</h4>
        {{else}}
          <h4 class="wow rubberBand" data-wow-delay="0.05s">{{msg}}</h4>
        {{/if}}
      {{/if}}
        <form id="contact" action="/contact" name="contact" method="post">
          <label for="nameInput">Your name</label>
          <input class="u-full-width" type="text" name="name" placeholder="John Doe" id="nameInput">
          <label for="emailInput">Your email</label>
          <input class="u-full-width" type="email" name="email" placeholder="test@mailbox.com" id="emailInput">
          <label for="subjectInput">Subject</label>
          <input class="u-full-width" type="text" name="subject" id="subjectInput">
          <label for="message">Message</label>
          <textarea class="u-full-width" name="message" placeholder="Hi Dave ..." id="message"></textarea>
          <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
  </section>
</main>
