<section class="parallax contact">

</section>
<section data-type="contact">
    <div class="col-2">
        <h4>Address</h4>
        <ul>
            <li>95 King Street, Cambridge,</li>
            <li>Cambridgeshire CB1 1LD</li>
        </ul>
        <h4>Contact</h4>
        <ul>
            <li>Phone:<span>+44 (0) 1223 464439</span></li>
            <li>Email:<span>info@adamsonberekoff.co.uk</span></li>
        </ul>
    </div><div class="col-2 light">
        <h2>Get in touch</h2>
        <form>
            <label>Your name (required)
                <input type="text" required="required">
            </label>
            <label>Email address (required)
                <input type="email" required="required">
            </label>
            <label>Phone number
                <input type="tel">
            </label>
            <label>Message
                <textarea></textarea>
            </label>
            <input type="submit" class="btn" value="submit">
        </form>
    </div>
</section>
<div id="map"></div>