<main class="no-header">
  <section class="light">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.05s">cookie policy</h2>
      <p>
        Like many websites, when you visit our website, in order to deliver a full browsing experience a small amount of information, known as a ‘cookie’ will be downloaded to your device, (e.g.: your computer, laptop, tablet or mobile phone). A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive.
      </p>
      <p>
        Our website uses cookies to distinguish you from other users of our website but these cookies cannot be used to identify you personally. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.
      </p>
      <p>
        These cookies are used to improve your browsing experience by, for example:
      </p>
      <ul>
        <li>
          enabling a website to recognise your device so you do not have to give the same information several times during one task or browsing sessions;
        </li>
        <li>
          recognising if you have given a username and password so you do not need to do it for every web page you visit;
        </li>
        <li>
          analysing anonymous data to help us understand how visitors interact with the website so we can make improvements and develop the website in an informed way for our visitors.
        </li>
      </ul>
      <p>
        We will not use cookies to collect personally identifiable information about you. If you wish to restrict or block the cookies which are set by our website, or indeed any other website, you can do this through your web browser settings.
      </p>
      <p>
        The ‘Help’ function within your browser should tell you how to do this. Alternatively, you may wish to visit
      </p>
      <p>
        http://www.aboutcookies.org. This website contains detailed information on how to manage cookies across a wide variety of browsers. You will also find details on how to delete cookies from your device, as well as more general information about cookies. Please be aware that restricting cookies may have an impact on the functionality of our website.
      </p>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Types of cookies</h5>
      <p>
        First party cookies are set by the website that you are visiting.
      </p>
      <p>
        Third party cookies are set by a party other than the owner of the website you are visiting (i.e. a third party).
      </p>
      <p>
        Typically, third party cookies will be set by the organisations providing analytics services to the website owner (e.g. Google Analytics) or advertising network providers.
      </p>
      <p>
        Session cookies are stored only during a browsing session and are removed from your device when the browser is closed.
      </p>
      <p>
        Persistent cookies remain on your device even when the browser is closed.  Persistent cookies enable a website to remember you on subsequent visits, speeding up or enhancing your experience of services or functions offered (e.g. by remembering preferences).
      </p>
      <p>
        We use the following cookies:
      </p>
      <ul>
        <li>
          Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.
        </li>
        <li>
          Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
        </li>
        <li>
          Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
        </li>
        <li>
          Targeting cookies. These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it (if any) more relevant to your interests. We may also share this information with third parties for this purpose.
        </li>
      </ul>
        <p>
          You can find more information about the individual cookies we use and the purposes for which we use them below:
        </p>
        <ul>
          <li>
            ccSID – Unique Session Cookie Browser is closed. This is a site specific session cookie which allows us to obtain site visit statistics
          </li>
          <li>
            ccUser – Unique Session Cookie 48 hours. This is a site specific session cookie  which allows us to obtain site visit statistics
          </li>
          <li>
            ccRemember – Remember (logged in) 48 hours. This cookie is used to indicate if you have asked us to remember you.
          </li>
          <li>
            bt – This is a behavior targeting cookie
          </li>
          <li>
            ana_svc – This is a real-time service cookie
          </li>
          <li>
            phpbb3_* and style_cookie – These cookies are set by the support forum software
          </li>
          <li>
            __utm* – Google analytics tracking. For more information on how Google Analytics uses cookies, click here
          </li>
          <li>
            uid/uit- Uniquely assigned user ID and login time tracking
          </li>
          <li>
            ssc/psc/uvc – These cookies are used in recording user sharing and social activity
          </li>
          <li>
            di/dt – Date tracking cookies for determining expiration of other cookies
          </li>
        </ul>
        <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Session management</h5>
        <p>
          These are “session-based” cookies used in order to ensure the smooth running of users’ web browsing sessions. This classification includes cookies used to support server load balancing:
        </p>
        <p>
          Name: ASP.NET_SessionId<br />
          Purpose: ASP.NET session ID – the cookie is essential for the whole site functioning<br />
          Typical content: A 120-bit random number that is represented by a 20-character string<br />
          Expires: When user exits browser<br />
          Name: ARRAffinity<br />
          Purpose: Is being configured on the server farm end in order to provide a client affinity feature that maps a client to a content server behind Application Request Routing (ARR)
          Typical content: randomly generated string<br />
          Expires: When user exits browser<br />
          Personalised content/interface
        <p>
          This classification covers cookies which are used to remember user settings for the duration of a user’s web browsing session, for example, their language preference:
        </p>
        <p>
          Name: XplodeAdministration<br />
          Purpose: Identifier of the Xplode admin area user session (for back-end users)<br />
          Typical content: string representation of the encrypted and signed FormsAuthenticationTicket object<br />
          Expires: When user exits browser<br />
          Name: Xplode::LastLoginFlag<br />
          Purpose: This cookie is used with a specific site setting which tells the site not to allow simultaneous login to the admin area of one user from different locations (for back-end users)<br />
          Typical content: Globally Unique Identifier (GUID)<br />
          Expires: 6 months
        </p>
        <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Web analytics/metrics</h5>
        <p>
          This category comprises cookies used to evaluate site performance in terms of number of visits, unique visitors, drop-off rate for transactions, and so on:
        </p>
        <p>
          Name: __utma<br />
          Purpose: Google Analytics cookie to track the number of times you access the site<br />
          Typical content: Randomly generated number<br />
          Expires: 2 years<br />
          Name: __utmb<br />
          Purpose: Google Analytics cookie to timestamp the exact time that you access the site<br />
          Typical content: Randomly generated number<br />
          Expires: 30 minutes<br />
          Name: __utmc<br />
          Purpose: Google Analytics cookie to timestamp the exact time that you leave the site<br />
          Typical content: Randomly generated number<br />
          Expires: When user exits browser<br />
          Name: __utmz<br />
          Purpose: Google Analytics cookie that keeps track of how you got to the site<br />
          Typical content: Randomly generated number and information on how the site was reached<br />
          Expires: 6 months
        </p>
        <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">JavaScript detection</h5>
        <p>
          These cookies are used to “remember” whether users’ terminals support the use of JavaScript. This facilitates an
        </p>
        <p>
          enhanced user experience as JavaScript-enhanced features can be made available to users:<br />
          Name: __atuvc<br />
          Purpose: This cookie is to make sure the user sees the updated count if they share a page and return to it before the share count cache is updated.<br />
          Typical content: Sequence of numbers<br />
          Expires: 2 years
        </p>
        <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Cookies for improving service</h5>
        <p>
          We use Google Analytics to collect information about how people use this website. We do this to make sure it is meeting our users’ needs and to understand how we could improve the overall user experience. Google Analytics stores information about which pages you visit, how long you are on the site, how you got here and what you click on.
        </p>
        <p>
          We do not collect or store your personal information (for example, your name or address) so this information cannot be used to identify who you are. We do not allow Google to use or share our analytics data. For detailed information about cookies used by Google Analytics on this site please view the above ‘Web analytics/metrics’ section, or for further information please visit http://www.google.co.uk/intl/en/analytics/privacyoverview.html
        </p>
    </div>
  </section>
</main>
