<main class="create-user">
    <div class="container">
        <h1>Create User</h1>
        <form>
            <div class="row">
                <div class="six columns">
                    Email Address:<br>
                    <input type="text" name="email"><br>
                    First Name:<br>
                    <input type="text" name="firstname" class=""><br>
                </div>
                <div class="six columns">
                    Phone Number:<br>
                    <input type="text" name="phonenumber"><br>
                    Last name:<br>
                    <input type="text" name="lastname">
                </div>
            </div>
            Username:<br>
            <input type="text" name="email"><br>
            Job Role:<br>
            <select name="job-role">
                <option value="volvo">Lorum</option>
                <option value="saab">Lorum</option>
                <option value="fiat">Ipsum</option>
                <option value="audi">Lorum</option>
            </select>
            User Rights:<br>
            <select name="user-rights">
                <option value="administrator">Administrator</option>
                <option value="viewer">Viewer</option>
            </select>
        </form>
        <button class="submit button">Submit</button>
    </div>
</main>