<main class="drones">
  <div class="container">
    <div class="hero drone-bg bg-beige white-txt">
      <div class="inner">
        <h2>Drones</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h5>Simplicity</h5>
        <p>
          CML's OIS actuators use its patented smart metal technology. A single piece of Shape Memory Alloy (SMA) wire provides force, motion and precision position control unlike Voice Coil Motors (VCM) that require bulkier magnets, copper windings and position sensors to achieve the same purpose.
        </p>
        <p>
          Therefore, smart metal OIS products are significantly smaller, simpler and more robust. The structure comprises SMA wire and only three additional, simple parts, each the thickness of a human hair, that are produced and assembled using fully automated processes. The use of automated manufacture provides high production capacity with stable yield, tight quality control and cleanliness.
        </p>
      </div>
      <div class="col-2 bg-darkgrey"></div>
    </div>
    <hr />
    <div class="row">
      <div class="four columns">
        <div class="beige-circle"></div>
        <h5>Non-Magnetic</h5>
        <p>
          VCM OIS cameras contain several strong magnets to move the lens. The magnetic fields interfere with critical handset components. SMA OIS uses no magnets and generates no disruptive fields. This allows handsets to perform optimally and maximise flexibility of design.
        </p>
      </div>
      <div class="four columns">
        <div class="beige-circle"></div>
        <h5>Dual Cameras</h5>
        <p>
          Dual cameras combine the output of two individual cameras to enhance functionality and image quality. To enable advanced capabilities more powerful cameras are required. Because SMA OIS contains no magnets, it is the only workable solution for compact dual camera designs.
        </p>
      </div>
      <div class="four columns">
        <div class="beige-circle"></div>
        <h5>Selfie Cameras</h5>
        <p>
          The selfie camera has seen an explosion in popularity, used to take high quality stills and video. The size constraints for a front facing camera are particularly demanding. The compact and simple structure of SMA enables inclusion of OIS into selfie cameras.
        </p>
      </div>
    </div>
  </div>
</main>
