{{> slider}}
<main>
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">.our showcase</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">websites, mobile apps and graphic design</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
              <li class="wow fadeInUp" data-wow-delay="0.05s">
                <figure><img src="images/work1.jpg" alt="Image"> <a href="images/work1.jpg" data-rel="gallery" class="swipebox" title="GRADOZERO">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span> GRADOZERO </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure><img src="images/work2.jpg" alt="Image"> <a href="images/work2.jpg" data-rel="gallery" class="swipebox" title="VEGA CAM">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>M</span> VEGA CAM </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work3.jpg" alt="Image"> <a href="images/work3.jpg" data-rel="gallery" class="swipebox" title="MOCK-UP">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MOCK-UP</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work4.jpg" alt="Image"> <a href="images/work4.jpg" data-rel="gallery" class="swipebox" title="MAGAZINE">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>W</span> MAGAZINE </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work5.jpg" alt="Image"> <a href="images/work5.jpg" data-rel="gallery" class="swipebox" title="MESTERSTYKE">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MESTERSTYKE</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work6.jpg" alt="Image"> <a href="images/work6.jpg" data-rel="gallery" class="swipebox" title="DARK LIGHT">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>V</span> DARK LIGHT</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work10.jpg" alt="Image"> <a href="images/work10.jpg" data-rel="gallery" class="swipebox" title="HEARTDRAW">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>O</span> HEARTDRAW </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work11.jpg" alt="Image"> <a href="images/work11.jpg" data-rel="gallery" class="swipebox" title="NINJA WOMEN">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span>NINJA WOMEN </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work12.jpg" alt="Image"> <a href="images/work12.jpg" data-rel="gallery" class="swipebox" title="MULHERES">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>O</span> MULHERES </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.wave</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Amazing project with unique ideas</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end title-box -->
        </div>
        <!-- end col-12 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
          <h4>STRATEGY</h4>
          <p>Product is the vital essence of what we do, and truly great product is born of meticulous planning and process. This is where we specialise, taking a lean &amp; agile approach to product creation.</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
          <h4>DESIGN</h4>
          <p>One of our values as company is 'Beauty in Simplicity' because we love making things simple, intuitive and expertly crafted. Foremost to that is an exceptional user experience. </p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
          <h4>DEVELOPMENT</h4>
          <p>All great products marry exceptional design with solid execution. We're insatiably curious about what's next in technology, but we will always strive to pick the right tools for the job.</p>
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end services-list -->
  <section class="quote wow fadeInUp" data-wow-delay="0.5s">
    <div class="columms background-image">
      <div class="table">
        <div class="inner">
          <h2><span>HANDMADE</span><br>
            DIGITAL WORKS</h2>
          <a href="index-top-menu.html#">+</a> </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
    <div class="columms">
      <div class="table">
        <div class="inner">
          <blockquote>Success depends upon previous preparation, and without such preparation there is sure to be failure.</blockquote>
          <h3>"CONFUCIUS"</h3>
        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
  </section>
  <!-- end quote -->
  <section class="wave-awards wow fadeInUp" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>OUR AWARDS</h3>
          <p>We create digital experiences for brands communicating the unique services provided to your customers. Creativity for us something personal</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-sm-4 text-right"> <img src="images/logo-awwards.png" alt="Image"><span><span class="counter">17</span> TIMES</span> </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 text-right"> <img src="images/logo-fwa.png" alt="Image"> <span><span class="counter">28</span> TIMES</span> </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 text-right"> <img src="images/logo-css-reel.png" alt="Image"> <span><span class="counter">45</span> TIMES</span> </div>
            <!-- end col-4 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end col-8 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end wave-awards -->
</main>
