<section class="home-banner">
  <div class="container">
    <div class="row">
      <img src="/img/giving-you-more.png" />
    </div>
    <div class="row">
      <h3>Life changing business made simple</h3>
      <button class="button-primary">Find out more</button>
    </div>
  </div>
</section>
<section class="income-calculator">
  <div class="container">
    <form>
      <div class="row">
        <div class="four columns">
          <label>You earn (£)</label>
          <input class="u-full-width" type="email" value="10">
        </div>
        <div class="four columns">
          <label>Every</label>
          <select class="u-full-width">
            <option value="Option 1">Hour</option>
            <option value="Option 2">Day</option>
          </select>
        </div>
        <div class="four columns">
          <label>And get paid</label>
          <select class="u-full-width">
            <option value="Option 1">Weekly</option>
            <option value="Option 2">Monthly</option>
          </select>
        </div>
      </div>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <h4>Is Momentum for you?</h4>
      <p>
        Contracting isn’t like the average 9-5 job, so our support isn’t average either. Whether you choose our umbrella employment solution or our limited company accounting services with our sister company, ClearSky Contractor Accounting, you’ll enjoy unbeatable service provided by a team of contracting experts with over 15 years’ experience.
      </p>
      <p>
        At Parasol, we understand that choosing the right contracting option is essential for your exciting new career. That’s why we’ll give you the best advice, tailored to your unique circumstances. Just like our sister company, ClearSky Contractor Accounting, we’ll be with you all the way whenever you need us.
      </p>
      <button class="button-primary">Sign up</button>
    </div>
  </div>
</section>
