{{> slider}}
<main class="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h2 class="wow fadeInUp">High Technology Design</h2>
        <p class="wow fadeInUp">
          Cambridge Mechatronics is a high technology design and engineering company based in Cambridge, UK. We specialise in mechatronic systems – combining the complementary disciplines of mechanical, electronic, control and software engineering.
        </p>
        <p class="wow fadeInUp">
          We develop products from concept through to mass production either through technology licensing or direct partnerships with manufacturing organisations. Our innovation is protected by an extensive intellectual property portfolio of over 100 granted patents.
        </p>
        <a class="link" href="/about">About ></a>
      </div>
      <div class="col-2 about-bg"></div>
    </div>
    <div class="row">
      <div class="col-2 team-bg"></div>
      <div class="col-2 bg-darkgrey">
        <h2 class="wow fadeInUp">Complementary Skills</h2>
        <p class="wow fadeInUp">
          At Cambridge Mechatronics, our team is truly multidisciplinary made up of experts in mechanical, electronic, control and software engineering. By combining the unique skills of our engineers, we have the ability understand technology systems holistically and the interconnected nature of them. This enables us to not only develop optimised whole system solutions and products but also ensure their commercial success.
        </p>
        <a class="link" href="/team">Team ></a>
      </div>
    </div>
    <div class="row">
      <div class="col-2  bg-beige">
        <h2 class="wow fadeInUp">Innovative Materials</h2>
        <p class="wow fadeInUp">
          Technology has advanced rapidly over the years. Cambridge Mechatronics’ goal is to continue optimising and improving technology, however we identified that more imagination is required to do this effectively. Our approach focuses on the use of smart materials and have successfully developed a key platform technology that will enable us to innovate in high value industry applications in diverse ways.
        </p>
        <a class="link" href="/technology">Technology ></a>
      </div>
      <div class="col-2 technology-bg"></div>
    </div>
  </div>
</main>
