<section data-type="home">
    <img class="banner" src="/img/home-bg.jpg"/>
    <h2>REVOLUTIONISING HAIRDRESSING IN CAMBRIDGE</h2>
    <h3>WELCOME TO ADAMSON BEREKOFF</h3>
    <hr/>
    <p>Situated on vibrant King Street in the heart of historic city centre, Adamson Berekoff is Cambridge’s new premier salon set up by two of the city’s most established and in demand stylists.</p>
    <p>The salon is the vision of directors Jamie Adamson and Ryan Berekoff whose mission is to offer outstanding hairdressing with exceptional customer service in contemporary and comfortable surroundings. They and their handpicked team offer the highest quality styling, colour and professional advice to create your individual look. Their personal approach means that every client gets their undivided attention during their full appointment.</p>
    <p>Jamie and Ryan have joined forces to bring their shared passion for creativity and professionalism to create a salon to match and one that is everything their loyal following, most of whom have been coming to them for many years, could want.</p>
    <p>Jamie and Ryan already have a huge following in Cambridge and have been very selective in choosing staff members who they have personally trained and who share their passions.</p>
    <p>Once you’ve experienced the level of excellence delivered by the staff, you’ll no longer have the worry of searching out another hairdresser again.</p>
    <p>Feel free to come and have a complimentary consultation with one of our talented team members.</p>
    <a href="/contact">
        <button class="btn btn-primary">Get in touch</button>
    </a>
    {{#if places.result.reviews}}
        <ul class="reviews">
            {{#each places.result.reviews}}
                <li>
                    {{stars}}
                    <p>{{this.text}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>