<section class="home-hero text-center">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="bold">Welcome to Blue Bulldog</h1>
        <h4 class="bold">A creative web and app studio</h4>
        <p>
          We are a small website and mobile application, design and development company based in Cambridge, UK.
        </p>
        <p>
          Our goal and deadline focused team can confidently supply innovative, pragmatic, practical thinking and hands-on experience to business requirements and projects. Quickly, with quality and precision.
        </p>
        <p>
          Blue Bulldog offers flexible online solutions to meet your business requirements. Click on one of the options below to view the services we provide and see how Blue Bulldog can help.
        </p>
        <a class="button button-light" href="#">Find out more</a>
        <img class="u-max-full-width" src="/img/banner-img.png" />
      </div>
    </div>
  </div>
</section>
<!-- Web development -->
<section class="web-development text-center">
  <div class="container">
    <div class="row">
      <div class="six columns text-center">
        <h2 class="bold">Web Development</h2>
        <h4 class="bold">We create elegant and functional custom designed (and built) websites</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a class="button button-light" href="#">Read more</a>
      </div>
      <div class="six columns text-center">
        <img class="u-max-full-width" src="/img/web-development.png" />
      </div>
    </div>
  </div>
</section>
<!-- App development -->
<section class="app-development text-center">
  <div class="container">
    <div class="row">
      <div class="six columns text-center">
        <img class="u-max-full-width" src="/img/app-development.png" />
      </div>
      <div class="six columns text-center">
        <h2 class="bold">Mobile and web app development</h2>
        <h4 class="bold">Custom apps that connect brands with their users.</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a class="button" href="#">Read more</a>
      </div>
    </div>
  </div>
</section>
<!-- Web design -->
<section class="web-design text-center">
  <div class="container">
    <div class="row">
      <div class="six columns text-center">
        <h2 class="bold">Web design</h2>
        <h4 class="bold">We help companies design cool customer experiences.</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a class="button button-light" href="#">Read more</a>
      </div>
      <div class="six columns text-center">
        <img class="u-max-full-width" src="/img/web-design.png" />
      </div>
    </div>
  </div>
</section>
<!-- Graphic design -->
<section class="graphic-design text-center">
  <div class="container">
    <div class="row">
      <div class="six columns text-center">
        <img class="u-max-full-width" src="/img/graphic-design.png" />
      </div>
      <div class="six columns text-center">
        <h2 class="bold">Graphic design</h2>
        <h4 class="bold">Custom apps that connect brands with their users.</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a class="button button-light" href="#">Read more</a>
      </div>
    </div>
  </div>
</section>
