{{> slider}}
<main>
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">our showcase</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">websites, mobile apps and graphic design</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
              <li class="wow fadeInUp" data-wow-delay="0.05s">
                <figure><img src="images/work1.jpg" alt="Image"> <a href="images/work1.jpg" data-rel="gallery" class="swipebox" title="GRADOZERO">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span> GRADOZERO </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure><img src="images/work2.jpg" alt="Image"> <a href="images/work2.jpg" data-rel="gallery" class="swipebox" title="VEGA CAM">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>M</span> VEGA CAM </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work3.jpg" alt="Image"> <a href="images/work3.jpg" data-rel="gallery" class="swipebox" title="MOCK-UP">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MOCK-UP</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work4.jpg" alt="Image"> <a href="images/work4.jpg" data-rel="gallery" class="swipebox" title="MAGAZINE">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>W</span> MAGAZINE </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work5.jpg" alt="Image"> <a href="images/work5.jpg" data-rel="gallery" class="swipebox" title="MESTERSTYKE">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MESTERSTYKE</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work6.jpg" alt="Image"> <a href="images/work6.jpg" data-rel="gallery" class="swipebox" title="DARK LIGHT">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>V</span> DARK LIGHT</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work10.jpg" alt="Image"> <a href="images/work10.jpg" data-rel="gallery" class="swipebox" title="HEARTDRAW">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>O</span> HEARTDRAW </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work11.jpg" alt="Image"> <a href="images/work11.jpg" data-rel="gallery" class="swipebox" title="NINJA WOMEN">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span>NINJA WOMEN </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work12.jpg" alt="Image"> <a href="images/work12.jpg" data-rel="gallery" class="swipebox" title="MULHERES">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>O</span> MULHERES </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section  class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-7 wow fadeInUp" data-wow-delay="0.5s">
          <h2>Blue Bulldog</h2>
          <h3>Our vision and strategy puts your business first.</h3>
          <p>
            We believe in our people and inspiring them to be the best that they can be. We hold customer-centricity at our very core. With pace and agility we will excite and energise. With the development of disruptive technologies we will reduce friction for our clients and the sectors in which they operate.
          </p>
        </div>
        <div class="col-md-5 wow fadeInUp" data-wow-delay="0.10s"> <img src="images/office-images.png" alt="Image"> </div>
      </div>
    </div>
  </section>
</main>
