<section class="home-banner text-center wow bounceInUp">
  <img src="/images/logo-light.png" alt="Image" class="wow bounceInUp" />
  <img src="images/icon-mouse.png" alt="Image" class="wow tada" data-wow-delay="2s"/>
</section>
<main>
  <section class="light">
    <div class="container">
      <div class="row">
        <div class="seven columns wow fadeInUp" data-wow-delay="0.5s">
          <h2>Blue Bulldog</h2>
          <h3>{{metaData.description}}</h3>
          <p>
            We believe in our people and inspiring them to be the best that they can be. We hold customer-centricity at our very core. With pace and agility we will excite and energise. With the development of disruptive technologies we will reduce friction for our clients and the sectors in which they operate.
          </p>
        </div>
        <div class="five columns wow fadeInUp" data-wow-delay="0.10s"> <img src="images/office-images.png" alt="Image"> </div>
      </div>
    </div>
  </section>
</main>
