<main class="news-item">
  <div class="container">
    <div class="hero news">
      <div class="inner">
        <h2>News</h2>
      </div>
    </div>
    <div class="padded">
      <h2 class="wow fadeInDown">{{text pageContent 'news.title'}}</h2>
      <p class="date">
        {{dateFormat pageContent.data.[news.post-date].value}}
      </p>
      <div class="wow fadeInUp news-content">
        {{#if pageContent.data.[news.post-image]}}
        <img src="{{image pageContent 'news.post-image'}}"/>
        {{/if}}
        {{structuredText pageContent 'news.body' ctx}}
      </div>
    </div>
  </div>
</main>
