<main class="ois">
  <div class="container">
    <div class="hero technology-slide-two bg-beige white-txt">
      <div class="inner">
        <h2>OIS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h2>Optical Image Stabilisation</h2>
        <p>
          Optical Image Stabilisation (OIS) is widely recognised as the feature providing the most substantial improvement to smartphone camera quality in recent years. It allows for blur-free photographs and shake-free videos. A gyroscope sensor in the handset is used to measure jitter. An actuator between the image sensor and AutoFocus mechanism moves the lens to compensate for this motion, thus stabilising the imaging system. OIS started shipping in international smartphones in 2012 and analysts predict the market size to be 370 million units in 2017.
        </p>
      </div>
      <div class="col-2 gemini_image"></div>
    </div>
    <div class="row">
      <div class="col-2 ois-on">
        <div class="small-box">
          <h5>IOS On</h5>
        </div>
      </div>
      <div class="col-2 ois-off">
        <div class="small-box">
          <h5>IOS Off</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h5>Simplicity</h5>
        <p>
          CML's OIS actuators use its patented smart metal technology. A single piece of Shape Memory Alloy (SMA) wire provides force, motion and precision position control unlike Voice Coil Motors (VCM) that require bulkier magnets, copper windings and position sensors to achieve the same purpose.
        </p>
        <p>
          Therefore, smart metal OIS products are significantly smaller, simpler and more robust. The structure comprises SMA wire and only three additional, simple parts, each the thickness of a human hair, that are produced and assembled using fully automated processes. The use of automated manufacture provides high production capacity with stable yield, tight quality control and cleanliness.
        </p>
      </div>
      <div class="col-2 gemini_exploded"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-3">
        <div class="beige-circle" id="size"></div>
        <h5>Size</h5>
        <p>
          Smart metal actuators are less than a third of the height of VCM competition and therefore provide the thinnest OIS cameras.
        </p>
      </div>
      <div class="col-3">
        <div class="beige-circle" id="perfomance"></div>
        <h5>Perfomance</h5>
        <p>
          SMA material’s high driving force combined with CML’s patented control algorithms provide industry leading shake suppression performance and camera image quality.
        </p>
      </div>
      <div class="col-3">
        <div class="beige-circle" id="magnet"></div>
        <h5>Power Consumption</h5>
        <p>
          Smart metal OIS consumes around a fifth the power of VCM, extending smartphone battery life and minimising heat generation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="beige-circle" id="magnet"></div>
        <h5>Non-Magnetic</h5>
        <p>
          VCM OIS cameras contain several strong magnets to move the lens. The magnetic fields interfere with critical handset components. SMA OIS uses no magnets and generates no disruptive fields. This allows handsets to perform optimally and maximise flexibility of design.
        </p>
      </div>
      <div class="col-3">
        <div class="beige-circle" id="camera"></div>
        <h5>Dual Cameras</h5>
        <p>
          Dual cameras combine the output of two individual cameras to enhance functionality and image quality. To enable advanced capabilities more powerful cameras are required. Because SMA OIS contains no magnets, it is the only workable solution for compact dual camera designs.
        </p>
      </div>
      <div class="col-3">
        <div class="beige-circle" id="phone"></div>
        <h5>Selfie Cameras</h5>
        <p>
          The selfie camera has seen an explosion in popularity, used to take high quality stills and video. The size constraints for a front facing camera are particularly demanding. The compact and simple structure of SMA enables inclusion of OIS into selfie cameras.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-2">
        <h2>Optical Image Stabilisation</h2>
        <p>
          AutoFocus (AF) cameras first launched in an international handset in mid-2005. They may now be found in more than 90% of the 1.4 billion smartphones shipping each year.
        </p>
        <p>
          Cameras enabled with both AF and OIS began shipping in international smartphones in late 2012. Consumers’ appetite for enhanced camera performance has led to an adoption rate of 15% of in 2015. However, this feature remains predominantly in high-end handsets and has not yet significantly penetrated the high volume, mainstream smartphone market. In order to do so, the difference in size and cost of AF+OIS actuators need to dramatically reduce.
        </p>
      </div>
      <div class="col-2">
        <h2></h2>
        <p>
          CML is developing an actuator using its smart metal technology for both AF and OIS functions. The result is a highly integrated and simple structure, smaller in size than standard AF-only VCM products. Our aim is to reduce the difference in size and cost of AF and AF+OIS cameras to allow OIS functionality to be included in almost every smartphone.
        </p>
      </div>
    </div>
  </div>
</main>
