<main class="no-header">
  <section class="showcase">
    <div class="header">
      <div class="container">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">portfolio</h2>
            <hr />
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
              <li class="wow fadeInUp" data-wow-delay="0.05s">
                <figure><img src="images/work1.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span> GRADOZERO </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure><img src="images/work2.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>M</span>VEGA CAM</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work3.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MOCK-UP</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work4.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>W</span> MAGAZINE</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work5.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>Q</span> MESTERSTYKE </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work6.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>V</span> DARK LIGHT </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work7.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>A</span> THE BAG </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work8.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span> FRAMEBORDER </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work9.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color3">
                    <div class="table">
                      <div class="inner"> <span>O</span> MULEQUES </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.05s">
                <figure> <img src="images/work10.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color1">
                    <div class="table">
                      <div class="inner"> <span>O</span> HEARTDRAW </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure> <img src="images/work11.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner"> <span>O</span> NINJA WOMEN </div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
              <li class="wow fadeInUp" data-wow-delay="0.15s">
                <figure> <img src="images/work12.jpg" alt="Image"> <a href="work-detail.html" class="transition">
                  <figcaption class="bg-color2">
                    <div class="table">
                      <div class="inner"> <span>O</span> MULHERES</div>
                    </div>
                  </figcaption>
                  </a> </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
