<main class="powerful">
  <div class="container">
    <div class="hero technology-slide-one bg-beige white-txt">
      <div class="inner">
        <h2>Small, Lightweight, Precise & Powerful</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h2>Lorem Ipsum</h2>
        <p>
          Aliquam pretium velit non nulla lacinia, ut tempor libero tempor. Sed pharetra elit eu ex maximus, posuere consectetur eros mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut laoreet eget purus id aliquet. Sed erat magna, laoreet vitae dui vel, vehicula sagittis arcu. Ut elementum nulla vitae mi porta, at aliquam sapien vestibulum.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h4>Lorem Ipsum</h4>
        <p>
          Sed justo turpis, volutpat laoreet neque vitae, maximus vestibulum ligula. Proin maximus nec nulla ac laoreet. Donec ac justo blandit tellus sollicitudin dictum vel et ex. Proin a massa maximus dolor commodo pellentesque. Sed est nisl, vehicula id mollis nec, volutpat sit amet quam.
        </p>
      </div>
      <div class="col-2">
        <h4>Lorem Ipsum</h4>
        <p>
          Sed justo turpis, volutpat laoreet neque vitae, maximus vestibulum ligula. Proin maximus nec nulla ac laoreet. Donec ac justo blandit tellus sollicitudin dictum vel et ex. Proin a massa maximus dolor commodo pellentesque. Sed est nisl, vehicula id mollis nec, volutpat sit amet quam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h4>Lorem Ipsum</h4>
        <p>
          Sed justo turpis, volutpat laoreet neque vitae, maximus vestibulum ligula. Proin maximus nec nulla ac laoreet. Donec ac justo blandit tellus sollicitudin dictum vel et ex. Proin a massa maximus dolor commodo pellentesque. Sed est nisl, vehicula id mollis nec, volutpat sit amet quam.
        </p>
      </div>
      <div class="col-2">
        <h4>Lorem Ipsum</h4>
        <p>
          Sed justo turpis, volutpat laoreet neque vitae, maximus vestibulum ligula. Proin maximus nec nulla ac laoreet. Donec ac justo blandit tellus sollicitudin dictum vel et ex. Proin a massa maximus dolor commodo pellentesque. Sed est nisl, vehicula id mollis nec, volutpat sit amet quam.
        </p>
      </div>
    </div>
    <div class="hero bg-grey"></div>
  </div>
</main>
