<main class="no-header">
  <section class="light">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.05s">privacy policy</h2>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">By using this website you acknowledge that any information provided to Blue Bulldog or any director or employee of Blue Bulldog in connection with the use of this site may be used by Blue Bulldog for its own purposes.</h5>
      <p>
        Blue Bulldog is committed to protecting your privacy. We will only use the information that we collect about you lawfully in accordance with the Data Protection Act 1998. The personal data you submit and our records of your visits to the site, will be used to monitor and improve our service to you, and for marketing purposes. We may send you emails and promotional communication about our activities and services, and we may on occasion telephone you to discuss the content of these or for market research.
      </p>
      <p>
        We do not make our mailing list available for marketing purposes to anyone outside of Blue Bulldog and will not disclose your personal data to anyone, unless required to do so by a court of competent jurisdiction. If you wish to update or have us delete your personal information, or if you prefer that we do not contact you, please e-mail us to inform us of your decision. See our ‘Contact’ page for details of how to contact us.
      </p>
    </div>
  </section>
</main>
