<section class="int-header hero3">
  <div class="table">
    <div class="inner">
      <div class="container">
        <h3>digitAl solutiOns</h3>
        <p>We are the creative design agency that brings ambitious brands to the next level by transforming their digital business environment.</p>
        <img src="images/icon-mouse.png" alt="Image"> </div>
      <!-- end container -->
    </div>
    <!-- end inner -->
  </div>
  <!-- end table -->
</section>
<main>
  <section class="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.services</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">We have a passion for building products that will shape</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end title-box -->
        </div>
        <!-- end col-12 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
          <h4>STRATEGY</h4>
          <p>Product is the vital essence of what we do, and truly great product is born of meticulous planning and process. This is where we specialise, taking a lean &amp; agile approach to product creation.</p>
          <ul>
            <li>Understanding the MVP</li>
            <li>User Story Creation</li>
            <li>Technical Architecture</li>
            <li>Technical Specifications</li>
            <li>Brand Direction</li>
            <li>Growth Tools Integration</li>
          </ul>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
          <h4>DESIGN</h4>
          <p>One of our values as company is 'Beauty in Simplicity' because we love making things simple, intuitive and expertly crafted. Foremost to that is an exceptional user experience. </p>
          <ul>
            <li>User Experience</li>
            <li>Web &amp; Mobile UI</li>
            <li>Conversion focused</li>
            <li>Brand Development</li>
            <li>Video &amp; Animation</li>
            <li>Email Campaigns</li>
          </ul>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
          <h4>DEVELOPMENT</h4>
          <p>All great products marry exceptional design with solid execution. We're insatiably curious about what's next in technology, but we will always strive to pick the right tools for the job.</p>
          <ul>
            <li>SaaS Products</li>
            <li>WebGL &amp; Canvas</li>
            <li>MYSQL &amp; NOSQL</li>
            <li>PHP/GoLang/Node.js etc</li>
            <li>JS/Angular/Backbone etc</li>
            <li>HTML5/CSS3</li>
          </ul>
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!--end containe -->
  </section>
  <!-- end services-list -->
  <section class="services">
    <div class="container">
      <div class="row margin-bottom">
        <div class="col-md-3 col-sm-6"> <i class="icon-theme"></i>
          <h4>BRAND CONTENT</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-cart"></i>
          <h4>DIGITAL COMMERCE</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-paintcylinder"></i>
          <h4>VISUAL IDENTITY</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-eye"></i>
          <h4>SOCIAL MEDIA</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-md-3 col-sm-6"> <i class="icon-monitor"></i>
          <h4>UI-UX DESIGN</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-projector"></i>
          <h4>BEHAVIOURAL MARKETING</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-keyboard"></i>
          <h4>STRATEGIC SUPPORT</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-mouse"></i>
          <h4>MOBILE SOLUTIONS</h4>
          <p>Everybody says the digital environment is changing brands radically.</p>
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end services -->
  <section class="features-list">
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.features</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">We have a passion for building products that will shape</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end title-box -->
        </div>
        <!-- end col-12 -->
        <div class="col-md-3 col-sm-3">
          <ul>
            <li>UX strategy</li>
            <li>Concept development</li>
            <li>Content strategy</li>
            <li>Online advertising strategy</li>
            <li>User testing &amp; research</li>
          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-3">
          <ul>
            <li>Digital Strategy</li>
            <li>Creative Consulting</li>
            <li>Information Architecture</li>
            <li>User Experience Design</li>
            <li>User Interface Design</li>
          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-3">
          <ul>
            <li>UX Web Design</li>
            <li>Web Applications</li>
            <li>iPhone &amp; Android Apps</li>
            <li>CMS Systems</li>
            <li>eStore Platfroms</li>
          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-3">
          <ul>
            <li>Search Engine Optimisation</li>
            <li>Social Media Consulting</li>
            <li>Social Integration</li>
            <li>Website Promotion</li>
            <li>Online Advertising</li>
          </ul>
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end features-list -->
</main>
