<section class="parallax services">

</section>
<section data-type="services">
    <div class="col-2 light">
        <h4>Prices</h4>
        <hr/>
        <ul>
            <li>Womens haircut & finish<span>from £45</span></li>
            <li>Mens haircut & finish<span>from £35</span></li>
            <li>Blowdry<span>from £25</span></li>
            <li>Hair-up<span>POA</span></li>
            <li>Wedding day hair<span>POA</span></li>
        </ul>
        <hr/>
        <ul>
            <li>Natural glossing<span>from £45</span></li>
            <li>Tint<span>from £50</span></li>
            <li>T-section<span>from £60</span></li>
            <li>Half head<span>from £75</span></li>
            <li>Full head<span>from £90</span></li>
            <li>Creative Colour<span>POA</span></li>
            <li>Nanokeratin Treatment<span>POA</span></li>
            <li>L'Oreal Treatment<span>£10</span></li>
        </ul>
    </div><div class="col-2">
        <h4>The Blurb</h4>
        <p>Please speak to your technician about toners and colour in between foils for there may be an additional charge.</p>
        <p>For new clients having colour, or clients who have not had colour with us for 6 months, we require to have a skin allergy test at least 48 hours prior to appointment.</p>
        <p>10% Student discounts available Tues-Fri with selected stylists.</p>
        <p>All vouchers can only be redeemed against one service per voucher.</p>
        <p>Vouchers are valid against selected stylists, please ask in the salon for further details.</p>
        <p>Only one promotion can be redeemed at any one time.</p>
    </div>
</section>