<main class="team">
  <div class="container">
    <div class="hero">
      <div class="inner">
        <h2>Team</h2>
        <p>
          Our multidisciplinary team has core skills in mechanical, electronic, control and software engineering, physics and material science. Their combination of abilities, work in harmony
to understand and develop whole system level solutions.
        </p>
      </div>
    </div>
    <div class="infographic margin">
      <div class="row">
        <div class="six columns">
          <span class="icon users">
          </span>
          <div class="text">
            <h2>A dynamic team of 42 Engineers</h2>
          </div>
        </div>
        <div class="six columns">
          <span class="icon globe"></span>
          <div class="text">
            <h2>Our team’s global experience spans 15 countries</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <span class="icon grad"></span>
          <div class="text">
            <h2>31 team members with PHDs and Masters</h2>
            <p>
              Specialising in areas such as Physics, Electrical and Electronic Engineering, Advanced Composite Materials, Acoustical Engineering, Metallurgy and Materials Science.
            </p>
          </div>
        </div>
        <div class="six columns">
          <span class="icon badge"></span>
          <div class="text">
            <h2>10 Prestigious Awards</h2>
            <p>
              Amongst which include the National Research Innovation & Technology Awards, The National Manufacturing Industry Achievement Awards and The Design Council.
            </p>
          </div>
        </div>
      </div>
    </div>
    <h3>Board</h3>
    <div class="team-member">
      <div class="avatar">
      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <hr />
    <h3>Board Advisors</h3>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
  </div>
</main>
