<main class="team">
  <div class="container">
    <div class="hero team-bg">
      <div class="inner">
        <h2 class="indigo">Team</h2>
      </div>
    </div>
      <div class="row">
          <div class="twelve columns">
              <h3 class="wow fadeInUp">A Dynamic Team</h3>
              <p>Our multidisciplinary team has core skills in mechanical, electronic, control and software engineering, physics and material science. Their combination of abilities work in harmony to understand and develop whole system level solutions. Our team is constantly growing, with members holding PHD’s and Masters in areas such as Physics, Electrical Engineering, Advanced Composite Materials and Metallurgy and Material Science to name a few. Their combined global experience spans 15 countries and a number of prestigious awards amongst which include the National Research Innovation & Technology Awards, The National Manufacturing Industry Achievement Awards and The Design Council.</p>
          </div>
      </div>
    <h3 class="wow fadeInUp">Board</h3>
    <div class="team-member">
      <div class="avatar">
      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
    <hr />
    <h3 class="wow fadeInUp">Board Advisors</h3>
    <div class="team-member">
      <div class="avatar">

      </div>
      <h4>Dr Martin Knight</h4>
      <h4>Executive Chairman</h4>
      <div class="link toggle-text">
        Read More +
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus, lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus. Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex mollis condimentum.
      </div>
    </div>
  </div>
</main>
