<section data-type="team">
    <h2>Meet the team</h2>
    <hr/>
    <ul class="team">
        <li data-rel="jamie">
            <h3>Jamie Adamson</h3>
            <small>managing director</small>
            <p>Starting out in hairdressing at the tender age of 14, Jamie’s experience in the trade has led him all over the UK, training in Knightsbridge, London, before returning to his hometown of Cambridge to manage one of the most successful salons in the area… a position which soon saw him recommended as Cambridge’s top stylist in Harpers Magazine. He takes precision cutting and textures very seriously, always adapting to suit the lifestyle and profile of the lucky chosen one in the chair, Jamie’s attention to detail has become a sought-after service in its own right, offering inspiration to many hairdressers in the region. Now embarking on his own salon adventure, along with Ryan, and celebrating the birth of his first baby boy, the future looks bright.</p>
        </li>
        <li data-rel="ryan">
            <h3>Ryan Berekoff</h3>
            <small>managing director</small>
            <p>Having grown up and starting his career in Vancouver, Canada at a Vidal Sassoon Academy, Ryan then took a further intensive training course when arriving in the UK. Handpicked to be part of a national artistic team in 2010, Ryan’s talents have been seen across many hair shows and photographic masterpieces, demonstrating a natural creative flair.<br><br>Extremely passionate about hairdressing, Ryan continues to look for new and innovative ways in which to style and colour his clients, a dedication which has already been passed onto the strong team involved in the Adamson Berekoff journey.</p>
        </li>
        <li data-rel="cara">
            <h3>Cara Pascual</h3>
            <small>hair stylist</small>
            <p>American born and bred, Cara came to us from across the pond. Originally from Arizona she studied at Tucson College of Beauty. From there she carried her talents across the country accompanying her husband to numerous Airforce bases, building upon her skills along the way. Her latest endeavour before moving to the UK was completing an extensive Vidal Sassoon advanced styling program while working at an award winning salon in Marin County, California. With each new experience Cara is able to add the latest and greatest trends to her beauty arsenal. With 5 years experience in the industry under her belt, she  specializes in uniquely personalized colour techniques an flattering cuts to compliment. She says the best part about her job is “creating an individual image, from cut colour and confidence the client gains.”</p>
        </li>
        <li data-rel="alex">
            <h3>Alex Ali</h3>
            <small>stylist</small>
            <p>I first started hairdressing in Cambridge in 2005 at the tender age of 15. My career started at Essensuals, the urban subsidery brand introduced by Toni & Guy. I was inspired by my work colleagues and grabbed every opportunity to follow in their footsteps. After working in Cambridge for four years I decided to make a change and subsequently moved to London to work at the highly acclaimed Hob salons, where I spent a year learning new cutting techniques. After my year in London I made a bold move to Australia and worked for a year at Toni & Guy in Sydney! I am now happily back in Cambridge and loving life at Adamson Berekoff and looking forward to using the skills and inspirations I’ve collected along the way.</p>
        </li>
        <li data-rel="indre">
            <h3>Indre Dubinskaite</h3>
            <small>Creative Stylist</small>
            <p>Kieran is a training junior stylist at Adamson Berekoff and had a huge ambition to learn new skills with passion for the industry and client care. Kieran is offering free services every second Thursday in the salon to further his skills, under the watchful eye of our talented team. We believe Kieran has a bright future ahead of him sole and we look forward to seeing his progression.</p>
        </li>
        <li data-rel="kieran">
            <h3>Kieran Warrender</h3>
            <small>junior hair stylist</small>
            <p>I am originally from Lithuania, I came to England in 1996 to study a hairdressing course and I have never looked back. My training took place in the Prestigious Sanrizz academy in Knightsbridge, London. Following the end of my course I started working for Sanrizz in Cambridge. During my time at Sanrizz, I have trained other staff members and new apprentices; I participated in photoshoots and managed the salon. Following 16 years industry experience I specialise in precision cutting, classic and creative colour, permanent and semi permanent hair straightening services.</p>
        </li>
    </ul>
</section>