<main class="team">
    <div class="container">
        <div class="hero team-bg">
            <div class="inner">
                <h2 class="indigo">Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h3 class="wow fadeInUp">A Dynamic Team</h3>
                <p>Our multidisciplinary team has core skills in mechanical, electronic, control and software
                    engineering and a combined global experience that spans 15 countries. Their combination of
                    abilities, work in harmony to understand and develop whole system level solutions. Our team is
                    constantly growing, with members holding PHD’s and Masters in areas such as Physics, Electrical
                    Engineering, Advanced Composite Materials and Metallurgy and Material Science to name a few.</p>
            </div>
        </div>
        <h3 class="wow fadeInUp">Board</h3>
        <div class="team-member">
            <div class="avatar martin-knight">
            </div>
            <h4>Dr Martin Knight</h4>
            <h4>Executive Chairman</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar">

            </div>
            <h4>Stewart Newton</h4>
            <h4>Non-Executive Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar andy-osmant">

            </div>
            <h4>Andy Osmant</h4>
            <h4>Managing Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar">

            </div>
            <h4>Hugh Baker-Smith</h4>
            <h4>Non-Executive Chairman</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Hugh has worked in international sales and technology licensing for more than 20 years, with particular experience gained in Japan, China, Taiwan, South Korea, and the USA. He has a consistent track record of commercialising innovative technologies, especially within the mobile phone market, and has served on the Boards of both public and private companies. His specific Cambridge experience includes senior positions at Xaar, Pelikon, and Nujira.
            </div>
        </div>
        <hr/>
        <h3 class="wow fadeInUp">Board Advisors</h3>
        <div class="team-member">
            <div class="avatar">

            </div>
            <h4>Warren East</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar">

            </div>
            <h4>Dr Tony Hooley</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar">

            </div>
            <h4>Tom Ridgman</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <hr/>
        <h3 class="wow fadeInUp">Senior Management</h3>
        <div class="team-member">
            <div class="avatar ben-brown">

            </div>
            <h4>Dr Ben Brown</h4>
            <h4>R&D Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar jon-edwards">

            </div>
            <h4>Jon Edwards</h4>
            <h4>Business Development Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar james-howarth">

            </div>
            <h4>James Howarth</h4>
            <h4>Engineering Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar ursula-lenel">

            </div>
            <h4>Dr Ursula Lenel</h4>
            <h4>Intellectual Property Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar dave-richards">

            </div>
            <h4>David Richards</h4>
            <h4>Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar ian-rodgers">

            </div>
            <h4>Ian Rodgers</h4>
            <h4>Electronics Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <div class="avatar dominic-edwards">

            </div>
            <h4>Dominic Webber</h4>
            <h4>Marketing Director</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <hr/>
        <h3 class="wow fadeInUp">Technical Team</h3>
        <div class="team-member">
            <h4>Farah Al-Naimi</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Chris Avery</h4>
            <h4>Senior Software Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Jerermy Barber</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Emi Bartha</h4>
            <h4>Build, Test and Measurement Technician</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Simor Baur</h4>
            <h4>Program Manager</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Steve Bunting</h4>
            <h4>Mechanical Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Dan Burbridge</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Matt Chapman</h4>
            <h4>Build, Test and Measurement Technician</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Nils Darphin</h4>
            <h4>Mechanical Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Bronwen Derry</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Mark Easton</h4>
            <h4>Electronics Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Robin Eddington</h4>
            <h4>Mechanical Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Eugene Ho</h4>
            <h4>Mechanical Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Robela Khanom</h4>
            <h4>Build, Test and Measurement Technician</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr René Kist</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Scott Leyden</h4>
            <h4>Build, Test and Measurement Technician</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Edward O'Reilly</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Panagiotis-Dimitrios Paraskevopoulus</h4>
            <h4>Software Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>John Holmeland</h4>
            <h4>Electronics Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Thomas Powell</h4>
            <h4>Material Scientist</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Nick Reddall</h4>
            <h4>Mechanical Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Matthew Reynolds</h4>
            <h4>Control and Test Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Igor Gtlibovych</h4>
            <h4>Control and Test Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Peter Roberts</h4>
            <h4>Software Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Dr Mark Scholtz</h4>
            <h4>Material Scientist</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Alison Thurston</h4>
            <h4>Offic Manager</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Ong Wai</h4>
            <h4>Control and Test Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Jason Tun</h4>
            <h4>Control Systems Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
        <div class="team-member">
            <h4>Paule Windle</h4>
            <h4>Software Engineer</h4>
            <div class="link toggle-text">
                Read More +
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pretium tellus, elementum vehicula
                metus consequat ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse leo metus,
                lobortis vel lobortis ac, placerat ac est. Nulla vitae urna dolor. Pellentesque id imperdiet magna, quis
                posuere diam. Aliquam efficitur molestie auctor. Aliquam sodales sem ut diam gravida, vel elementum
                mauris congue. Duis ac augue libero. Sed quam augue, dapibus quis eleifend ut, pretium sed risus.
                Phasellus in orci in mauris efficitur iaculis. Phasellus ac nisl turpis. Vestibulum et dolor nec ex
                mollis condimentum.
            </div>
        </div>
    </div>
</main>
