<main class="technology">
  <div class="container">
    <div class="hero">
      <div class="inner">
        <h2>Technology</h2>
        <p>Through the exploration of innovative materials, Cambridge Mechatronics is delivering change amongst a diverse set of high value technology applications.</p>
      </div>
    </div>
    <a href="/powerful">
      <div class="hero technology-slide-one">
        <h2 class="indigo pull-txt-left">Small, Lightweight, Precise & Powerful</h2>
      </div>
    </a>
    <a href="/ois">
      <div class="hero technology-slide-two">
        <h2 class="indigo pull-txt-left">OIS</h2>
      </div>
    </a>
    <a href="/drones">
      <div class="col-2 drone-bg soft-padding">
        <h2 class="white pull-txt-left">Drones</h2>
      </div>
    </a>
    <a href="/virtual-reality">
      <div class="col-2 virtual-bg soft-padding">
        <h2 class="white pull-txt-left">Virtual Reality</h2>
      </div>
    </a>
    <a href="/powerful">
      <div class="col-2 self-driving-bg soft-padding">
        <h2 class="white pull-txt-left">Self Driving Cars</h2>
      </div>
    </a>
    <a href="/powerful">
      <div class="col-2 robotics-bg soft-padding">
        <h2 class="indigo pull-txt-left">Robotics</h2>
      </div>
    </a>
    <a href="/powerful">
      <div class="col-2 medical-devices-bg soft-padding">
        <h2 class="indigo pull-txt-left">Medical Devices</h2>
      </div>
    </a>
    <a href="/powerful">
      <div class="col-2 haptics-bg soft-padding">
        <h2 class="indigo pull-txt-left">Haptics</h2>
      </div>
    </a>
  </div>
</main>
