<main class="technology">
  <div class="container">
    <div class="hero technology-slide-one">
      <div class="inner">
        <h2 class="indigo">Technology</h2>
        <p class="indigo">Cambridge Mechatronics focuses on the use of smart materials, innovating in a number of high value technology applications.
To learn more see <a href="/our-platform-technology">Small, Lightweight, Precise & Powerful</a></p>
      </div>
    </div>
    <a href="/ois">
      <div class="hero technology-slide-two">
        <h2 class="indigo pull-txt-left wow fadeInUp">AutoFocus & Optical Image Stabilisation</h2>
      </div>
    </a>
    <a href="/our-platform-technology#drones">
      <div class="col-2 drone-bg soft-padding">
        <h2 class="white pull-txt-left wow fadeInUp">Drones</h2>
      </div>
    </a>
    <a href="/our-platform-technology#cirtualreality">
      <div class="col-2 virtual-bg soft-padding">
        <h2 class="indigo pull-txt-left wow fadeInUp">Virtual Reality</h2>
      </div>
    </a>
    <a href="/our-platform-technology#selfdrivingcars">
      <div class="col-2 self-driving-bg soft-padding">
        <h2 class="white pull-txt-left wow fadeInUp">Self Driving Cars</h2>
      </div>
    </a>
    <a href="/our-platform-technology#robotics">
      <div class="col-2 robotics-bg soft-padding">
        <h2 class="indigo pull-txt-left wow fadeInUp">Robotics</h2>
      </div>
    </a>
    <a href="/our-platform-technology#medicaldevices">
      <div class="col-2 medical-devices-bg soft-padding">
        <h2 class="indigo pull-txt-left wow fadeInUp">Medical Devices</h2>
      </div>
    </a>
    <a href="/our-platform-technology#haptics">
      <div class="col-2 haptics-bg soft-padding">
        <h2 class="indigo pull-txt-left wow fadeInUp">Haptics</h2>
      </div>
    </a>
  </div>
</main>
