<main class="view-users">
    <div class="container">
        <h1>User Listing</h1>
        <table class="user-table" style="width: 100%;">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Last Activity</th>
                <th>User Rights</th>
                <th>Online</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>jill.smith@cambridgemechantronics.co.uk</td>
                <td>Jill Smith</td>
                <td>2016-11-13  13:42</td>
                <td>Administrator</td>
                <td><i class="fa fa-user-circle" aria-hidden="true"></i></td>
                <td><a href="#userModal" class="button">View</a></td>
                <td><a href="#deleteModal" class="button">Delete</a></td>
            </tr>
            <tr>
                <td>eve.jackson@cambridgemechatronics.co.uk</td>
                <td>Eve Jackson</td>
                <td>2017-01-04  15:33</td>
                <td>Viewer</td>
                <td><i class="fa fa-user-circle-o" aria-hidden="true"></i></td>
                <td><a href="#userModal" class="button">View</a></td>
                <td><a href="#deleteModal" class="button">Delete</a></td>
            </tr>
            <tr>
                <td>john.doe@cambridgemechantronics.co.uk</td>
                <td>John Doe</td>
                <td>2017-01-06  16:20</td>
                <td>Viewer</td>
                <td><i class="fa fa-user-circle-o" aria-hidden="true"></i></td>
                <td><a href="#userModal" class="button">View</a></td>
                <td><a href="#deleteModal" class="button">Delete</a></td>
            </tr>
            <tr>
                <td>eik.hunter@cambridgemechantronics.co.uk</td>
                <td>Eik Hunter</td>
                <td>2017-01-06  16:20</td>
                <td>Administrator</td>
                <td><i class="fa fa-user-circle" aria-hidden="true"></i></td>
                <td><a href="#userModal" class="button">View</a></td>
                <td><a href="#deleteModal" class="button">Delete</a></td>
            </tr>
        </table>

        <a class="add-user button" href="/create-user">Add New</a>

        <div id="userModal" class="modalDialog">
            <div class="modal">
                <a href="#close" title="Close" class="close">X</a>
                <h2>User</h2>
                <div class="row">
                    <div class="six columns">
                        <h4>Email</h4>
                        <p>eik.hunter@cambridgemechantronics.co.uk</p>
                        <h4>Name</h4>
                        <p>Eik Hunter</p>
                    </div>
                    <div class="six columns">
                        <h4>Phone Number</h4>
                        <p>(+44) 75976 48000</p>
                        <h4>Job Role</h4>
                        <p>Web Developer</p>
                    </div>
                </div>
                <h4>Username</h4>
                <p>eik.hunter</p>
                <h4>User Rights</h4>
                <p>Administrator</p>
                <a class="button amend-user">Edit</a>
            </div>
            </div>
        </div>

        <div id="deleteModal" class="modalDialog">
            <div class="delete-Modal modal">
                <a href="#close" title="Close" class="close">X</a>
                <h2>Delete User?</h2>
                <p>Are you sure you want to do this?</p>
                <a class="button delete-yes">Yes</a>
                <a class="button delete-no pull-right">No</a>
            </div>
        </div>
</main>