<main class="no-header">
  <section class="light">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.05s">website terms and conditions</h2>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">This website is provided for your use ‘as is’ without any warranties (whether express or implied) of any kind. As a result, no director or employee of Blue Bulldog accepts any ongoing obligation or responsibility in respect of any errors, omissions, interruptions or delays in service which may occur.</h5>
      <p>
        Your use of this website and/or its various affiliates or subsidiaries is subject to the following terms and conditions:
      </p>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Copyright and trade mark protection</h5>
      <p>
        All content and information on this website is the copyright of Blue Bulldog or are reproduced with permission from other copyright owners (henceforth referred to as ‘The Copyright Holders’). All rights are reserved. Blue Bulldog does not give persons accessing this web site permission to use any trade mark used in th website. Unauthorised use may constitute an infringement of the relevant owner’s rights. The materials on this website may be retrieved and downloaded solely for personal use. No materials may otherwise be copied, modified, published, broadcast or otherwise distributed without the prior written permission of The Copyright Holders. The Copyright Holders and/or any other names of products or services provided by The Copyright Holders and referred to on this web site are either trademarks or registered trademarks of The Copyright Holders. The copyright and all other rights in all of the material on this web site are owned by the member or members of the Web Host listed on the relevant web page or the material is included with the permission of the rights owner. You may copy material on this web site for your own private or domestic use only. All other copying is prohibited
      </p>
      <p>
        For information on obtaining permission to reproduce or translate copyright material belonging to The Copyright Holders, please e-mail us. See our ‘Contact’ page for details of how to contact us.
      </p>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Accuracy of content</h5>
      <p>
        The information contained in this website (‘Information’) has been prepared in accordance with English law. The Information may not satisfy the laws of any other country and some or all of the products and services described herein may not be available to residents of some countries. The information is current at the date of publication but may be subject to change without notice.
      </p>
      <p>
        The information contained on this site is not intended to constitute any offer to sell or the invitation or solicitation of an offer to buy any product or service by any company described or referred to in this website or by any subsidiary, holding company or affiliate of such company and must not be relied upon in connection with any purchase decision.
      </p>
      <p>
        No director or employee of Blue Bulldog (whether individually or collectively) gives any representation or warranty as to the accuracy, reliability, or completeness of the Information nor as to the appropriateness of the Information for any use which any recipient may choose to make of it and accepts no responsibility for updating any part of the Information or for correcting any material error or omission which may become apparent after Information has been displayed on this website. Except insofar as liability under any statute cannot be excluded, Blue Bulldog nor any of its and their directors, employees and consultants accept any liability (whether arising in contract, or tort, or negligence or otherwise) for any error, omission or misrepresentation in relation to the Information or for any loss, damage, cost or expense (whether direct, indirect, consequential or otherwise) suffered by the recipient of this Information or any other person as a result of any use of or reliance upon any Information or statement of any kind (including statements of fact or opinion) contained herein.
      </p>
      <p>
        Blue Bulldog makes no warranties or representations of any kind concerning the accuracy or suitability of the information contained on this website for any purpose. All such information is provided ‘as is’ and with specific disclaimer of any warranties of merchantability, fitness for purpose, title and/or non-infringement. Blue Bulldog makes no warranties or representations of any kind that the services provided by this website will be uninterrupted, error-free or that the website or the server that hosts the website are free from viruses or other forms of harmful computer code. In no event shall the Web Host, its employees or agents be liable for any direct, indirect or consequential damages resulting from the use of this website. This exclusion and limitation only applies to the extent permitted by law and is without prejudice to any express provisions to the contrary in any written license or subscription agreement from Blue Bulldog in respect of the use of any online service provided via this website.
      </p>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Links</h5>
      <p>
        Links to other websites are provided by Blue Bulldog in good faith and for information only. Blue Bulldog disclaims any responsibility for the materials contained in any website linked to this site.
      </p>
      <h5 class="sub-title wow fadeInUp" data-wow-delay="0.10s">Applicable law</h5>
      <p>
        This website, including these legal notices, shall be governed by and construed in accordance with English law.
      </p>
    </div>
  </section>
</main>
