<!DOCTYPE html>
<html lang="en">
    {{> header}}
    <body>
        {{> nav}}
        <div class="content">
            {{{body}}}
            {{> footer}}
        </div>
    </body>
    {{> scripts}}
</html>
